@charset "UTF-8";

@import './base/reset';
@import './base/typography';

@import './helpers/space';

@import './vendor/slick';
@import './vendor/slick-theme';
@import './vendor/modal';
@import './vendor/fontawesome/scss/font-awesome';

//bootstrap grid only
@import './vendor/bootstrap/variables';
@import './vendor/bootstrap/mixins';
@import './vendor/bootstrap/mixins/grid-framework';
@import './vendor/bootstrap/mixins/grid';
@import './vendor/bootstrap/grid';

@import './modules/button';
@import './modules/input';
@import './modules/datepicker';
@import './modules/social-button';
@import './modules/or-seperator';
@import './modules/progressbar';
@import './modules/vertical-timeline';
@import './modules/grid';
@import './modules/tables';
@import './modules/floatmenu';

@import './layout/main';
@import './layout/header';
@import './layout/container';
@import './layout/footer';
@import './layout/login-modal';
@import './layout/join-modal';
@import './layout/feedback-modal';
@import './layout/cuisines-modal';
@import './layout/request-modal';
@import './layout/bid-modal';
@import './layout/biding-list';
@import './layout/mypage';
@import './layout/mypage-request';
@import './layout/mypage-admin';
@import './layout/request-success';
@import './layout/supplier';
@import './layout/review';
@import './layout/intro-page';
@import './layout/agreement';
@import './layout/review-write';

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.slick-dots li button:before {
  font-size: 40px;
}
.slick-arrow {
  display: none !important;
}
.slick-prev:before,
.slick-next:before {
  color: $primary-color;
  display: none !important;
}
.slick-dots li.slick-active button:before {
  color: $primary-color;
}

.request-wrapper .font-14px {
  font-size: 14px;
}

br.br {
  display: block;
}