extends layout

block content
  .biding-list
    .biding-list__header
      h1 1. 서비스를 선택하세요
    ul.biding-list__items.row.no-gutters
      each bid, i in auction.chosenBids
        li.biding-list__item-li.animated.fadeInLeft.col-md-4
          .li-wrapper
            .supplier-profile
              .supplier-profile__rank
                span #{i+1}
              .supplier-profile__header
                img.supplier-profile__profile-image(src='/images/chef-profile#{i}.jpg')
              .supplier-profile__detail
                .supplier-profile__detail--rate
                  span.fa.fa-star
                  span.fa.fa-star
                  span.fa.fa-star
                  span.fa.fa-star
                  span.fa.fa-star-half-empty  4.3
                .supplier-profile__detail--name #{bid.owner.displayName}
                .supplier-profile__detail--intro
                  p #{bid.proposal}
                .supplier-profile__detail--career
                  h1
                    span.fa.fa-briefcase  자기소개
                    p #{bid.owner.introduce}
                .supplier-profile__detail--accept
                  button(type='button', class='btn btn-primary choose-sup-btn', data-auction='#{auction._id}', data-index='#{bid._id}') 선택
  //.payment
    .payment__header
      h1 2. 결제

