extends layout

block content
  #index-section
    #request-section
      .request-bg
      .modal.request-subscribe-service.request-modal.fade
        .request-service-modal
          .request-service-modal-border
            .request-modal-close
              a.close-request-modal(href="#", data-type="subscribe")
                img(src="/images/ico/wgray.svg")
            .request-modal-header
              .title
                h1 정기 케이터링 신청서
              .describe.row.no-gutters
                .col-md-3.col-xs-2
                  .icon
                    img(src="/images/subscription-icon.png")
                .col-md-9.col-xs-10
                  .content.
                    작은 식사 모임이나 각종 행사에 내가 원하는 조건에 맞춰 케이터링 서비스를 만날 수 있습니다 아래 양식을 작성하시면 나만의 맞춤 케이터링을 위한 경매가 시작됩니다.
            .request-form
              .row.no-gutters.service-row
                .col-md-12.col-xs-12.field-subscription
                  .field-wrapper.row.no-gutters
                    .col-md-12.col-xs-12
                      label 회사/단체명
                    .col-md-12.col-xs-12
                      input#service-job-modal.request-service--input(type='text', class='control', placeholder="회사/단체명")
                .col-md-6.col-xs-6.field-subscription
                  .field-wrapper.row.no-gutters
                    .col-md-12.col-xs-12
                      label 인원
                    .col-md-12.col-xs-12
                      input#service-people-modal.request-service--input(type='text', class='control', placeholder="40")

                .col-md-6.col-xs-6.field-subscription
                  .field-wrapper.row.no-gutters
                    .col-md-12.col-xs-12
                      label 위치
                    .col-md-12.col-xs-12
                      input#service-zone-modal.request-service--input(type='text', class='control', placeholder="서울특별시")
                .col-md-12.col-xs-12.field-subscription
                  .field-wrapper
                    label 추가 요청 사항
                    textarea#service-describe-modal.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
                .col-md-12.col-xs-12.field-subscription
                  .field-button(style="width: 100%;")
                    button.btn.btn-primary.request-service-subscribe-btn(style="width: 100%;padding: 12px 10px; font-size: 16px;") 신청합니다.

      .modal.request-ondemand-service.request-modal.fade
        .request-service-modal
          .request-service-modal-border
            .request-modal-close
              a.close-request-modal(href="#", data-type="ondemand")
                img(src="/images/ico/wgray.svg")
            .request-modal-header
              .title
                h1 맞춤 케이터링 신청서
              .describe.row.no-gutters
                .col-md-3.col-xs-2
                  .icon
                    img(src="/images/ondemand-icon.png")
                .col-md-9.col-xs-10
                  .content.
                    작은 식사 모임이나 각종 행사에 내가 원하는 조건에 맞춰 케이터링 서비스를 만날 수 있습니다 아래 양식을 작성하시면 나만의 맞춤 케이터링을 위한 경매가 시작됩니다.
            .request-form
              .row.no-gutters.ondemand.service-row
                .col-md-4.col-xs-6.field
                  .field-wrapper.row.no-gutters
                    .col-md-4.col-xs-12
                      label 날짜
                    .col-md-8.col-xs-12
                      .inner
                        input#service-date-modal2.ll-skin-melon.request-service--input(type='text', class='control', placeholder='선택해주세요')
                .col-md-4.col-xs-6.field
                  .field-wrapper.row.no-gutters
                    .col-md-4.col-xs-12
                      label 인원
                    .col-md-8.col-xs-12
                      .inner
                        input#service-people-modal2.request-service--input(type='text', class='control', placeholder="(ex: 40)")
                .col-md-4.col-xs-6.field
                  .field-wrapper.row.no-gutters
                    .col-md-4.col-xs-12
                      label 시작
                    .col-md-8.col-xs-12
                      select#service-starttime2(name='service-starttime')
                        option 시간
                        - for(var i=0; i<24; i++) {
                        option(value="#{i}") #{i}시
                        - }
                .col-md-4.col-xs-6.field
                  .field-wrapper.row.no-gutters
                    .col-md-4.col-xs-12
                      label 예산
                    .col-md-8.col-xs-12
                      span.budget-slug
                      .inner
                        input#service-budget-modal2.request-service--input(type='text', placeholder="1,000,000" onkeyup='this.value=numberFilter(this.value)' class='control')
                .col-md-4.col-xs-6.field
                  .field-wrapper.row.no-gutters
                    .col-md-4.col-xs-12
                      label 위치
                    .col-md-8.col-xs-12
                      .inner
                        input#service-zone-modal2.request-service--input(type='text', class='control', placeholder="서울특별시")
                .col-md-4.col-xs-6.field
                  .field-wrapper.row.no-gutters
                    .col-md-4.col-xs-12
                      label 음식
                    .col-md-8.col-xs-12
                      select#service-cuisines-modal2(name='cuisines')
                        option(value="all") 상관없음
                        option(value="korean") 한식
                        option(value="chinese") 중식
                        option(value="japanese") 일식
                        option(value="western") 양식
                .col-md-12.col-xs-12.field
                  .field-wrapper
                    label 추가 요청 사항
                    textarea#service-describe-modal2.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")

                .col-md-12.col-xs-12.field
                  .field-button(style="width: 100%;")
                    button.btn.btn-primary.request-service-modal-btn(style="width: 100%;padding: 12px 10px; font-size: 16px;") 신청합니다.

      h1 달리셔스만의 간편한 <span class="highlight">케이터링 서비스</span>를 만나보세요.
      h2.pc-text 소규모 다이닝부터 기업 행사까지, 어떤식사든지 입력된 조건에 맞춰 내게 맞는 서비스를 매칭해 드립니다.
      //p.mobile-text 소규모 다이닝부터 기업 행사까지, 어떤식사든지<br>입력된 조건에 맞춰 내게 맞는 서비스를 매칭해 드립니다.
      .request-form
        .row.no-gutters
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12.col-sm-4
                label 서비스
              .col-md-8.col-xs-12.col-sm-8
                select(name="service-type")
                  option(value="ondemand") 맞춤 케이터링
                  option(value="subscription") 정기 케이터링
                  option(value="festival") 스마트테크쇼 이벤트
          .col-md-8.col-xs-6.col-sm-8
            .service-describe
              .triangle
              .service-icon.ondemand-mode.service-mode.pc-text
                img(src="/images/ondemand-icon.png")
              .box.pc-text.ondemand-mode.service-mode
                .inner 소규모 다이닝부터 기업 행사까지, 어떤식사든지<br>입력된 조건에 맞춰 내게 맞는 서비스를 매칭해 드립니다.

              .service-icon.subscription-mode.service-mode.pc-text
                img(src="/images/subscription-icon.png")
              .box.pc-text.subscription-mode.service-mode
                .inner 시간과 일정을 직접 선택하는 정기 케이터링 서비스를 시작하세요.<br>달리셔스는 주변 맛집을 선별하여 가장 이상적인 식단을 구성합니다.
              .box.mobile-text 맞춤/정기 케이터링중 내게 맞는<br>서비스를 골라주세요.
        .row.no-gutters.ondemand.service-row.pc
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 날짜
              .col-md-8.col-xs-12
                input#service-date.ll-skin-melon.request-service--input(type='text', class='control', placeholder='선택해주세요')
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 인원
              .col-md-8.col-xs-12
                input#service-people.request-service--input(type='text', class='control', placeholder="(ex: 40)")
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 시작시간
              .col-md-8.col-xs-12
                select#service-starttime(name='service-starttime')
                  option 시간
                  - for(var i=0; i<24; i++) {
                  option(value="#{i}") #{i}시
                  - }
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 예산
              .col-md-8.col-xs-12
                span.budget-slug
                input#service-budget.request-service--input(type='text', placeholder="1,000,000" onkeyup='this.value=numberFilter(this.value)' class='control')
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 위치
              .col-md-8.col-xs-12
                input#service-zone.request-service--input(type='text', class='control', placeholder="서울특별시")
          .col-md-4.col-xs-6.col-sm-4
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 음식타입
              .col-md-8.col-xs-12
                select#service-cuisines(name='cuisines')
                  option(value="all") 상관없음
                  option(value="korean") 한식
                  option(value="chinese") 중식
                  option(value="japanese") 일식
                  option(value="western") 양식
          .col-md-12.col-xs-12.col-sm-12
            .field-wrapper
              label 추가 요청 사항
              textarea#service-describe.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
              .field-button.pc-text
                button.btn.btn-primary.request-service-btn(data-type="ondemand") 서비스 신청
          .col-md-12.col-xs-12.col-sm-12.mobile-text(style="width: 100%")
            button.btn.btn-primary.request-service-btn(data-type="ondemand", style="width: 100%;padding: 12px 10px; font-size: 16px;") 신청합니다
        .row.no-gutters.subscription.service-row.pc
          .col-md-4.col-xs-6
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 인원
              .col-md-8.col-xs-12
                input#service-people2.request-service--input(type='text', class='control', placeholder="40")
          .col-md-4.col-xs-6
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 회사/단체명
              .col-md-8.col-xs-12
                input#service-job2.request-service--input(type='text', class='control', placeholder="회사/단체명")
          .col-md-4.col-xs-12
            .field-wrapper.row.no-gutters
              .col-md-4.col-xs-12
                label 위치
              .col-md-8.col-xs-12
                input#service-zone2.request-service--input(type='text', class='control', placeholder="서울특별시")
          .col-md-12.col-xs-12
            .field-wrapper
              label 추가 요청 사항
              textarea#service-describe2.request-service--textarea(rows="4" style="padding-bottom: 20px;" placeholder="추가 요청사항을 입력해주세요")
              .field-button.pc-text
                button.btn.btn-sub.request-service-btn(data-type="subscription") 서비스 신청
          .col-md-12.col-xs-12.mobile-text(style="width: 100%")
            button.btn.btn-sub.request-service-btn(data-type="subscription", style="width: 100%;padding: 12px 10px; font-size: 16px;") 신청합니다


    #dalicious-section
      .section-header
        .title WHAT IS DALICIOUS
        .deco
      .section-content
        h1.pc-text 어디서나 만날 수 있는 달리는 다이닝, <span class="highlight">달리셔스</span>
        h1.mobile-text 어디서나 만날 수 있는<br>달리는 다이닝, <span class="highlight">달리셔스</span>
        p(style="color: #868787") 달리다[DALIDA] + 맛잇다[DELICIOUS] = 달리셔스[DALICIOUS]
        .describe.
          달리셔스는 움직이는 키친을 통해 세상에서 가장 아름다운 가치를 가진 음식점을 꿈꿉니다.<br>
          달리셔스는 물리적인 매장에서 벗어나 언제든지 음식을 필요로 하는 사람들의 곁으로 달려가 음식의 철학을 나눕니다.<br>
          달리셔스는 음식을 함께 나눌 사람들이 있는 곳이라면 어디나 달려가 잊지 못할 최고의 경험을 제공합니다.<br>
      .section-bg


    #service-section
      .section-header
        .title SERVICE TYPE
        .deco
      .section-content
        h1.pc-text 원하는 케이터링 서비스를 선택하세요
        h1.mobile-text 내가 찾던 케이터링 서비스
        p.pc-text(style="color: #868787") 매 순간 기억에 남는 식사를 위해 달리셔에서 케이터링 서비스를 선택하세요.
        p.mobile-text(style="color: #868787") 매 순간 기억에 남는 식사를 위해<br>달리셔스에서 케이터링 서비스를 선택하세요.
        .describe 달리셔스에서는 음식을 통해 주변 사람들과 철학, 문화, 삶을 공유합니다. 달리셔스는 현직 셰프 또는 지역 레스토랑과 함께 다양한 규모의 케이터링 플랫폼입니다. '케이터링 공유 플랫폼 달리셔스'는 모두가 함께 협력하여 최고의 케이터링 서비스를 제공합니다.

        .service.row.no-gutters
          .col-md-6.col-xs-12.service-type-box
            .inner.select.ondemand(data-type="ondemand")
              .service--info--wrapper.row.no-gutters(data-type="ondemand")
                .col-md-10.col-xs-10
                  .head 맞춤형 케이터링 서비스
                .col-md-2.col-xs-2.icon
                  img(src="/images/ondemand-icon.png")
                .col-md-12
                  .describe 주말 친구들과의 특별한 파티를 계획하고 계신가요? 비즈니스를 위한 다과가 필요하진 않으세요? 달리셔스와 함께라면 특별한 그 날이 더욱 빛날 것입니다.
              .service--info--cover.ondemand(data-type="ondemand")
                div
                  span.fa.fa-check

          .col-md-6.col-xs-12.service-type-box
            .inner.select.ondemand(data-type="subscription")
              .service--info--wrapper.row.no-gutters(data-type="subscription")
                .col-md-10.col-xs-10
                  .head 정기 케이터링 서비스
                .col-md-2.col-xs-2.icon
                  img(src="/images/subscription-icon.png")
                .col-md-12
                  .describe 매일 또는 주5일, 11시반, 12시, 4시반.<br>시간과 일정에 맞는 정기 케이터링 서비스를 시작하세요. 주변 맛집을 선별하여 가장 이상적인 식단을 구성합니다.
              .service--info--cover.subscription(data-type="subscription")
                div
                  span.fa.fa-check
    #eat-section
      .section-header
        .title WHAT WE DO
        .deco
      .section-content
        h1 달리셔스는 <span class="highlight">EAT다</span>
        p.pc-text.
          움직이는 키친이 <span class="highlight">있고</span>,
          맛있는 음식을 위해 고객과 공급자를 <span class="highlight">잇고</span>,
          음식에 대한 고민을 <span class="highlight">잊게</span> 해드립니다.
        p.mobile-text.
          움직이는 키친이 <span class="highlight">있고</span>,<br>
          맛있는 음식을 위해 고객과 공급자를 <span class="highlight">잇고</span>,<br>
          음식에 대한 고민을 <span class="highlight">잊게</span> 해드립니다.
      .eat-box.mobile-text(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
        div
          img(src="/images/index/index-eat-mobile1.jpg" class="eat-bg-mobile")
          .eat-wrapper
            .eat-icon-bg
            .eat-icon-mobile
              img(src="/images/index/service-1.svg")
              p 있다
            .eat-content-mobile.
              달리셔스와 함께라면 작은 부분까지도 섬세하게 조정하여 나만의 MOVING TABLE을 만날 수 있습니다.

        div
          img(src="/images/index/index-eat-mobile2.jpg" class="eat-bg-mobile")
          .eat-wrapper
            .eat-icon-bg
            .eat-icon-mobile
              img(src="/images/index/service-2.svg")
              p 잇다
            .eat-content-mobile.
              맛있는 음식과 최고의 맞춤 케이터링 서비스를 전하기 위해 고객과 현직 레스토랑 쉐프를 이어줍니다. 지금 바로 신청하세요.
        div
          img(src="/images/index/index-eat-mobile3.jpg" class="eat-bg-mobile")
          .eat-wrapper
            .eat-icon-bg
            .eat-icon-mobile
              img(src="/images/index/service-3.svg")
              p 잊다
            .eat-content-mobile.
              “오늘은 뭐 먹지?” 에 대한 고민을 잊게 도와드립니다. 정기 케이터링 서비스를 통해 선별된 맛집의 메뉴로 가장 이상적인 식단을 구성해드립니다.


      .eat-box.pc-text
        .row.no-gutters
          .col-md-4.col-xs-12
            .eat-des.eat-1(data-index="1")
              .bg.eat1
                img(src="/images/introduce/intro-eat-1.jpg" class="eat-bg")
              .eat-content.front.bg
              .eat-content.front
                .title 있다
                .deco
                .content MOVING<br>KITCHEN
              .eat-content.back.bg
              .eat-content.back
                .icon
                  img(src="/images/introduce/intro-eat-1.svg")
                .icon-content.
                  달리셔스와 함께라면 작은 부분까지도 섬세하게 조정하여 나만의 MOVING TABLE을 만날 수 있습니다.
          .col-md-4.col-xs-12
            .eat-des.eat-2(data-index="2")
              .bg.eat2
                img(src="/images/introduce/intro-eat-2.jpg" class="eat-bg")
              .eat-content.front.bg
              .eat-content.front
                .title 잇다
                .deco
                .content MOVING<br>TABLE
              .eat-content.back.bg
              .eat-content.back
                .icon
                  img(src="/images/introduce/intro-eat-2.svg")
                .icon-content.
                  맛있는 음식과 최고의 맞춤 케이터링 서비스를 전하기 위해 고객과 현직 레스토랑 쉐프를 이어줍니다. 지금 바로 신청하세요.

          .col-md-4.col-xs-12
            .eat-des.eat-3(data-index="3")
              .bg.eat3
                img(src="/images/introduce/intro-eat-3.jpg" class="eat-bg")
              .eat-content.front.bg
              .eat-content.front
                .title 잊다
                .deco
                .content MOVING<br>PERFORMANCE
              .eat-content.back.bg
              .eat-content.back
                .icon
                  img(src="/images/introduce/intro-eat-3.svg")
                .icon-content.
                  “오늘은 뭐 먹지?” 에 대한 고민을 잊게 도와드립니다. 정기 케이터링 서비스를 통해 선별된 맛집의 메뉴로 가장 이상적인 식단을 구성해드립니다.
    #how-section
      .section-header
        .title HOW WE DO
        .deco
      .section-content
        h1.pc-text 달리셔스의 간편한 절차를 통해<br>나만의 케이터링 서비스를 만나보세요.
        h1.mobile-text 달리셔스의 간편한 절차를 통해<br>나만의 케이터링 서비스를<br>만날 수 있습니다.

        .how-tab
          .row.no-gutters
            .col-md-6.col-xs-6
              .how-tab--btn.on
                a.on(href="#" class="swap-service-a primary" data-src="subscription" data-dest="ondemand") 맞춤 케이터링
            .col-md-6.col-xs-6
              .how-tab--btn
                a(href="#" class="swap-service-a primary" data-src="ondemand" data-dest="subscription") 정기 케이터링
          .how-content
            .ondemand-step-image
              .pc-text
                img(src="/images/index/index-ondemand-step.svg")
              .mobile-text
                .how-step-content
                  img.step-img(src="/images/index/step1-mobile.svg")
                  .content 날짜, 인원 장소 예산 추가주문사항 등<br>주문서 작성 / 경매시작
                  .comment
                    .text 주문서 자동 접수 / 추천된 멤버스들에게<br>메시지 전달 / 경매참여
                    .triangle
                .how-step-content
                  img.step-img(src="/images/index/step2-mobile.svg")
                  .content 선별된 멤버리스트<br>비교검토 후 선정 및 결제
                  .comment
                    .text 세부사항 및 추가요청 등<br>체크 후 기획
                    .triangle
                .how-step-content
                  img.step-img(src="/images/index/step3-mobile.svg")
                  .content 나만의 맞춤형 케이터링 완성!
            .sub-step-image
              .pc-text
                img(src="/images/index/index-subscription-step.svg")
              .mobile-text
                .how-step-content
                  img.step-img(src="/images/index/step1-mobile.svg")
                  .content 날짜, 인원 장소 예산 추가주문사항 등<br>주문서 작성 / 경매시작
                  .comment
                    .text 주문서 자동 접수<br>파트너 기업 연계 및 식단화
                    .triangle
                .how-step-content
                  img.step-img(src="/images/index/step2-mobile.svg")
                  .content 메뉴 리스트 확인 및 결제
                  .comment
                    .text 세부사항 및 추가요청 등<br>체크 후 기획
                    .triangle
                .how-step-content
                  img.step-img(src="/images/index/step3-mobile.svg")
                  .content 취향저격 정기 케이터링 완성!

        .how-step
          .row.no-gutters
            .col-md-4.col-xs-12
              .describe
                p <span class="highlight">3 STEP</span>만 거치면<br>다양한 케이터링 서비스를<br>받아보실 수 있습니다.
            .col-md-8.col-xs-12
              .step-image
                img(src="/images/index/index-member-icon.svg")



    #app-section
      .app-wrapper
        .app-wrapper-container
          .row.no-gutters
            .col-md-6
            .col-md-6
              h1 <span class="highlight">달리셔스</span>를<br>모바일 앱으로<br>만나보세요.

            .col-md-6
            .col-md-6.app-icon
              a(href="https://play.google.com/store/apps/details?id=co.dalicious.dalicious")
                img(src="/images/android-app.png")
              a(href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1229933793&mt=8")
                img(src="/images/apple-app.png")
    #members-section
      h1 <span class="">멤버스 모집</span>
      p 오너셰프의 꿈에 한걸음 더 다가가세요<br>달리셔스가 좋은 파트너가 되어드립니다<br>달리셔스와 함께해 보세요
      button(type="button" class="btn btn-primary members-join-btn" style="width: 180px") 지금 시작하기
  script.
    function arrangeEatIcon() {

      var $eatIcon = $(".eat-icon-mobile");
      var $eatIconBg = $(".eat-icon-bg");
      var $eatContent = $(".eat-content-mobile");
      var $bg = $(".eat-bg-mobile");

      var bgWidth = $bg.width();
      var bgHeight = $bg.height();
      var iconWidth = $eatIcon.width() + 40;
      var contentWidth = bgWidth - 80;
      var contentHeight = $eatContent.height();

      $eatIcon.css("margin-left", (bgWidth / 2) - (iconWidth / 2) + "px");
      $eatIcon.css("margin-left", (bgWidth / 2) - (iconWidth / 2) + "px");
      //$eatIconBg.css("top", $eatIcon.offset().top + "px");
      $eatIconBg.css("left", $eatIcon.offset().left + "px");
      $eatContent.css("width", contentWidth + "px")
      $eatContent.css("margin-left", (bgWidth / 2) - (contentWidth / 2) + "px");
      //$eatContent.css("margin-top", ((bgHeight - (iconWidth + 40)) - (contentHeight*5) + 40) + "px");
      $eatContent.css("margin-top", "10px");
      $eatContent.css("top", ($eatIcon.offset().top + $eatIcon.height()) + "px");
    }
    function arrangeServiceSection() {
      var $wrapperObject = $(".service--info--wrapper"),
              $coverObject = $(".service--info--cover");

      var height = $wrapperObject.height(),
              width = $wrapperObject.width();

      var windowWidth = $(window).width();

      if (windowWidth > 768) {
        $coverObject.width(width + 52);
      } else {
        $coverObject.width(width + 50);
      }

      $coverObject.height(height + 8);
    }

    $(window).resize(function () {
      arrangeEatIcon();
      arrangeServiceSection();
    });

    $(window).scroll(function(){
      arrangeEatIcon();
      arrangeServiceSection();;
    })

    $(document).ready(function () {
      var windowWidth = $(window).width();
      arrangeServiceSection();
      $(".eat-des").bind("mouseenter", function () {
        var type = $(this).attr("data-index");
        $(".back.bg").css("height", $(".bg > img.eat-bg").height());
        $(".eat-" + type + " > .front").hide();
        $(".eat-" + type + " > .back").show();
      });

      $(".eat-des").bind("mouseleave", function () {
        var type = $(this).attr("data-index");
        $(".eat-" + type + " > .back").hide();
        $(".eat-" + type + " > .front").show();
      });

      var $wrapperObject = $(".service--info--wrapper"),
              $coverObject = $(".service--info--cover");


      if (windowWidth > 768) {
        $wrapperObject.bind("mouseenter", function () {
          var type = $(this).attr("data-type");
          $(".service--info--cover." + type).show();
        });

        $coverObject.bind("mouseleave", function () {
          var type = $(this).attr("data-type");
          $coverObject.hide();
        });
      }

      arrangeEatIcon();

    });
