.dalicious-container
  section.section-head
    .carousel-top.
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>
      <figure></figure>

    //.carousel
      .item
        img(src='/images/example1.jpg')
      .item
        img(src='/images/example2.jpg')
      .item
        img(src='/images/example5.jpg')
      .item
        img(src='/images/example4.jpg')
      .item
        img(src='/images/example3.jpg')

    .tabbtn-mobile
      .row.no-gutters
        .col-xs-6
          a.on(href="#" class="swap-service-a primary" data-src="subscription" data-dest="ondemand") 맞춤 케이터링
        .col-xs-6
          a(href="#" class="swap-service-a primary" data-src="ondemand" data-dest="subscription") 정기 케이터링
    .tab-wrapper
      .tabbtn
        .tab-btn.ondemand-btn
          a(href="#" class="swap-service-a primary" data-src="subscription" data-dest="ondemand")
            img(src="/images/ondemand-on.png" class="ondemand-img")
        .tab-btn.subscription-btn.off
          a(href="#" class="swap-service-a primary" data-src="ondemand" data-dest="subscription")
            img(src="/images/subscription-off.png" class="subscription-img")
      .tab-cover

      .request-wrapper.ondemand
        .container-head.container-head--top
          .container-head__pt
            h1 <span class='strong highlight'>달리셔스</span>에서 간단한 절차를<br>통해 <span class='strong highlight'>맞춤 케이터링</span> 서비스를<br>만나보세요.
        .request-service.row.no-gutters
          .request-service__field.col-xs-4.col-md-2.col-sm-2
            .inner
              label(for="service-date") *날짜
              input#service-date.ll-skin-melon.request-service--input(type='text', class='control')
          .request-service__field.col-xs-4.col-md-2.col-sm-2
            .inner
              label(for="service-zone") *위치
              input#service-zone.request-service--input(type='text', class='control')
          .request-service__field.col-xs-4.col-md-2.col-sm-2
            .inner
              label(for="service-people") *인원
              input#service-people.request-service--input(type='text', class='control')
          .request-service__field.col-xs-4.col-md-2.col-sm-2
            .inner
              label(for="service-budget") *예산
              span.budget-slug
              input#service-budget.request-service--input(type='text', onkeyup='this.value=numberFilter(this.value)' class='control')
          .request-service__field.col-xs-4.col-md-2.col-sm-2
            .inner
              label(for="service-starttime") *시작
              select#service-starttime(name='service-starttime')
                option 시간
                - for(var i=0; i<24; i++) {
                option(value="#{i}") #{i}시
                - }
          .request-service__field.col-xs-4.col-md-2.col-sm-2
            .inner
              label(for="service-cuisines") *음식타입
              select#service-cuisines(name='cuisines')
                option(value="all") 상관없음
                option(value="korean") 한식
                option(value="chinese") 중식
                option(value="japanese") 일식
                option(value="western") 양식
          .col-md-12.col-xs-12.col-sm-12
            .row.no-gutters
              .request-service__field.col-xs-12.col-md-12.col-sm-12
                .inner
                  label(for="service-describe") 추가설명
                  textarea#service-describe.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
              .request-service__submit.col-xs-12.col-md-12
                button.btn.btn-primary.request-service-btn(data-type="ondemand") 서비스 신청

      .request-wrapper.subscription
        .container-head.container-head--top
          .container-head__pt
            h1 <span class='strong sub-highlight'>달리셔스</span>에서 간단한 절차를<br>통해 <span class='strong sub-highlight'>정기 케이터링</span> 서비스를<br>만나보세요.
        .request-service.row.no-gutters
          //.request-service__field
            label(for="service-date") *날짜
            input#service-date.ll-skin-melon.request-service--input(type='text', class='control', placeholder='날짜를 선택하세요')
          .request-service__field.col-xs-12.col-md-3.col-sm-3
            .inner
              label(for="service-people2") *인원
              input#service-people2.request-service--input(type='text', class='control', placeholder='인원수를 입력하세요')
          //.request-service__field
            label(for="service-budget") *예산
            span.budget-slug
            input#service-budget.request-service--input(type='text', onkeyup='this.value=numberFilter(this.value)' class='control', placeholder='예산을 입력하세요')
          //.request-service__field
            label(for="service-cuisines") *음식타입
            select#service-cuisines(name='cuisines')
              option(value="all") 상관없음
              option(value="korean") 한식
              option(value="chinese") 중식
              option(value="japanese") 일식
              option(value="western") 양식
          .request-service__field.request-service__field--address.col-xs-12.col-md-3.col-sm-3
            .inner
              label(for="service-job2") *회사/단체명
              input#service-job2.request-service--input(type='text', class='control', placeholder='회사/단체를단체 입력하세요')
          .request-service__field.request-service__field--address.col-xs-12.col-md-6.col-sm-6
            .inner
              label(for="service-zone2") *위치
              input#service-zone2.request-service--input(type='text', class='control', placeholder='위치를 입력하세요(ex: 서울특별시 강남구 대치동 xxx)')
          .request-service__field.col-xs-12.col-md-12.col-sm-12
            .inner
              label(for="service-describe2") 추가설명
              textarea#service-describe2.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
          .request-service__submit.col-xs-12.col-md-12.col-sm-12
            button.btn.btn-sub.request-service-btn(data-type="subscription") 서비스 신청

    //.dot-icon
      span.fa.fa-circle(class="dot-step-1")
      span.fa.fa-circle-o(class="dot-step-2")
      span.fa.fa-circle-o(class="dot-step-3")
        //.swap-message
          a(href="#" class="swap-service-a sub" data-src="subscription" data-dest="ondemand") 특별한 그날, 맞춤형 케이터링 서비스가 필요하세요?

  //section.section-review
    .service-review.intro-section
      .center
        .review-item
          img(src='/images/example1.jpg')
          p 가격 \500,000~
          p 인원 30명
        .review-item
          img(src='/images/example2.jpg')
          p 가격 \500,000~
          p 인원 30명
        .review-item
          img(src='/images/example5.jpg')
          p 가격 \500,000~
          p 인원 30명
        .review-item
          img(src='/images/example4.jpg')
          p 가격 \500,000~
          p 인원 30명
        .review-item
          img(src='/images/example3.jpg')
          p 가격 \500,000~
          p 인원 30명

  section.section-request-select
    //.request-select-bg
    .request-select
      .service--header
        span.category SERVICE TYPE
        h1 “특별한 그날”을 위한 요리<br>달리셔스에서 케이터링 서비스를 신청하세요.
        h2 매 순간 기억의 남는 식사를 위해 달리셔스에서 케이터링 서비스를 선택하세요.
        .describe.request-select-describe 달리셔스는 음식을 통해 주변 사람들과 철학, 문화, 삶을 공유합니다.<br>달리셔스는 현직 전문 쉐프 또는 지역 내 음식점들과 함께 특별한 케이터링 서비스를 제공하는<br><span class="highlight" style="font-size: 18px">온라인 케이터링 플랫폼</span> 입니다.<br class='br'>‘케이터링 플랫폼 달리셔스’는 모두가 함께 협력하여 최고의 케이터링 서비스를 제공합니다.<br><br><br>특별한 그 날,<br>친구들과의 파티, 가족의 방문, 응원과 축하의 자리에서, 매일 점심식사 또는 저녁식사에서도<br>달리셔스는 항상 고객과 함께 합니다.<br>어떤 시간, 장소, 행사이든지 달리셔스는 음식을 통해 삶이 공유되는 자리라면<br>고객과의 충분한 소통을 통해 협력하여 케이터링 서비스가 이루어지도록 노력합니다.<br>고객의 요청에 맞는 메뉴가 선택되고, 소비자의 취향을 수렴한 최고의 케이터링 서비스를 제공합니다.
        .more
          a(href="#" class="request-select-more-a") 내용 더보기
      .service--info
        .service.row.no-gutters
          .col-md-6.col-xs-12
            .inner.select.ondemand(data-type="ondemand")
              .service--info--wrapper.row.no-gutters(data-type="ondemand")
                .col-md-10.col-xs-10
                  .head 맞춤 케이터링
                .col-md-2.col-xs-2.icon
                  img(src="/images/ondemand-icon.png")
                .col-md-12
                  .describe 주말 친구들과의 특별한 파티를 계획하고 계신가요?<br>비즈니스를 위한 다과가 필요하진 않으세요?<br>달리셔스와 함께라면 특별한 그 날이 더욱 빛날 것입니다.
              .service--info--cover.ondemand(data-type="ondemand")
                div
                  span.fa.fa-check

          .col-md-6.col-xs-12
            .inner.select.ondemand(data-type="subscription")
              .service--info--wrapper.row.no-gutters(data-type="subscription")
                .col-md-10.col-xs-10
                  .head 정기 케이터링
                .col-md-2.col-xs-2.icon
                  img(src="/images/subscription-icon.png")
                .col-md-12
                  .describe 매일 또는 주5일, 11시반, 12시, 4시반.<br>시간과 일정에 맞는 정기 케이터링 서비스를 시작하세요. 주변 맛집을 선별하여 가장 이상적인 식단을 구성합니다.
              .service--info--cover.subscription(data-type="subscription")
                div
                  span.fa.fa-check

      //.service--info
        .service.row.no-gutters
          .col-md-2.col-xs-12
            .inner.icon
              img(src="/images/ondemand-icon.png")
          .col-md-10.col-xs-12
            .inner
              .head 맞춤 케이터링
              .describe 이번 주말 친구들과 파티를 계획하고 계신가요? 비즈니스를 위해 다과가 필요하진 않으신가요? 달리셔스와 함께라면 특별한 그날이 더욱 빛날 것 입니다.

        .service.row.no-gutters
          .col-md-2.col-xs-12
            .inner.icon
              img(src="/images/subscription-icon.png")
          .col-md-10.col-xs-12
            .inner
              .head 정기 케이터링
              .describe 매일 또는 주5일, 11시반, 12시, 5시반. 시간과 일정을 직접 선택하는 정기 케이터링 서비스 구독을 시작하세요. 달리셔스는 선별된 주변 맛집의 메뉴로 가장 이상적인 식단을 구성해드립니다.
  .section-introduce-wrapper
    section.section-introduce-page
      .introduce-wrapper
        .category WHAT IS DALICIOUS
        h1 어디서나 만날 수 있는<br> “달리는 다이닝”
        h2 달리다[DALIDA] + 맛잇다[DELICIOUS]<br class='br'>= 달리셔스[DALICIOUS]
        .describe.
          달리셔스는, "달리다"와 맛있다는 뜻의 "딜리셔스"의 합성어로<br>움직이는 맛과 음식 그리고 이를 만드는 키친을 의미합니다.<br><br><br>
          달리셔스는 움직이는 키친을 통해<br><span class="highlight">세상에서 가장 아름다운 가치를 가진 음식점</span>을 꿈꿉니다.<br>
          달리셔스는 물리적인 매장에서 벗어나<br>언제든지 음식을 필요로 하는 사람들의 곁으로 달려가 음식의 철학을 나눕니다.<br>
          달리셔스는 음식을 함께 나눌 사람들이 있는 곳이라면<br>어디나 달려가 잊지 못할 최고의 경험을 제공합니다.<br>
        //.describe 달리셔스란, "달리다"와 "딜리셔스"의 합성어로 움직이는 키친을 의미합니다.<br>달리셔스는 움직이는 키친을 통해서, '세상에서 가장 큰, 매장 없는 음식점'을 꿈꿉니다.
        //.describe.pb-10 달리셔스와 함께라면 고객만의 MOVING TABLE을 만날 수 있습니다.
        //.describe-deco
        //.describe <span class="highlight" style="font-size: 18px">MOVING TABLE</span>이란,<br>기존의 점포기반이 아닌 케이터링, 도시락, 밥차, food truck 등 고객에게 찾아가는 모든 음식 서비스를 말합니다.

  section.section-eatda
    .eatda-wrapper
      .eatda-main
        .pc
          img(src="/images/eatda-content.png")
        .mobile
          img(src="/images/index/eatda-content-mobile.png")

  section.section-service-process
    .service-process__wrapper
      h1 <img src="/images/index/bus-icon.png" class='bus-icon'><br class='br'><span class="highlight">달리셔스</span>와 함께라면 간편한 절차를 통해<br class='br'>고객만의<span class="highlight">맞춤 케이터링</span>서비스를 만날수 있습니다.
      .service-process__service.service-process__service--ondemand
        .service-process__service--head
          //h2 <span class="highlight">#1</span><br>맞춤 케이터링 서비스
        .bg

      .service-process__service.service-process__service--subscription

      .service-process__service--deco
      .service-process__describe
        .row.no-gutters
          .col-md-4.col-xs-12
            .inner.mt-10 <span class="highlight">달리셔스</span>를통해<br class='br'><span class="highlight">3 STEP</span>만 거치시면<br class='br'>다양한 케이터링 서비스를<br class='br'>받아보실수 있습니다.
          .col-md-8.col-xs-12
            .inner.pc
              img(src="/images/index/supplier-list-pc.png")
            .inner.mobile
              img(src="/images/index/supplier-list-mobile.png")

  section.section-app
    .app-wrapper
      .app-wrapper-container
        .row.no-gutters
          .col-md-6
          .col-md-6
            h1 달리셔스를<br><span class="text-bold">모바일앱</span>으로 만나보세요.

          .col-md-6
          .col-md-6.app-icon
            a(href="https://play.google.com/store/apps/details?id=co.dalicious.dalicious")
              img(src="/images/android-app.png")
            img(src="/images/apple-app.png")


  section.section-members
    .go-members
      h2 <span class="highlight">멤버스 모집</span>
      p 오너셰프의 꿈에 한걸음 더 다가가세요.<br class='br'>달리셔스가 좋은 파트너가 되어 드립니다.<br class='br'>달리셔스와 함께해 보세요.
      p.button
        button(class='btn btn-primary members-join-btn') 지금 시작하기

  .modal.request-subscribe-service.fade
    .request-service-modal.row.no-gutters
      //h2 정기 케이터링 서비스
      .request-service__field.col-xs-6.col-md-6
        .inner
          label(for="service-people-modal") *인원
          input#service-people-modal.request-service--input(type='text', class='control', placeholder='인원수를 입력하세요')

      .request-service__field.request-service__field--address.col-xs-6.col-md-6.col-sm-6
        .inner
          label(for="service-job-modal") *회사/단체명
          input#service-job-modal.request-service--input(type='text', name="team", class='control', placeholder='회사/단체를 입력하세요')
      .request-service__field.col-xs-12.col-md-12
        .inner
          label(for="service-zone-modal") *위치
          input#service-zone-modal.request-service--input(type='text', class='control', placeholder='위치를 입력하세요(ex: 서울특별시 강남구 대치동 xxx)')

      .request-service__field.col-xs-12.col-md-12
        .inner
          label(for="service-describe-modal") 추가설명
          textarea#service-describe-modal.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
      .request-service__submit.col-xs-12.col-md-12
        button.btn.btn-primary.btn--large.request-service-subscribe-btn 서비스 신청

  .modal.request-ondemand-service.fade
    .request-service-modal.request-service.row.no-gutters
      //h2 맞춤 케이터링 서비스
      .request-service__field.col-xs-4.col-md-2
        .inner
          label(for="service-date-modal2") *날짜
          input#service-date-modal2.ll-skin-melon.request-service--input(type='text', class='control', placeholder='날짜를 선택하세요')
      .request-service__field.col-xs-4.col-md-2
        .inner
          label(for="service-starttime2") *시작
          select#service-starttime2(name='service-starttime')
            option 시간
            - for(var i=0; i<24; i++) {
            option(value="#{i}") #{i}시
            - }
      .request-service__field.col-xs-4.col-md-2
        .inner
          label(for="service-endtime2") *종료
          select#service-endtime2(name='service-endtime')
            option 시간
            - for(var i=0; i<24; i++) {
            option(value="#{i}") #{i}시
            - }
      .request-service__field.col-xs-6.col-md-2
        .inner
          label(for="service-people-modal2") *인원
          input#service-people-modal2.request-service--input(type='text', class='control', placeholder='인원수를 입력하세요')
      .request-service__field.col-xs-6.col-md-2
        .inner
          label(for="service-budget-modal2") *예산
          span.budget-slug
          input#service-budget-modal2.request-service--input(type='text', onkeyup='this.value=numberFilter(this.value)' class='control', placeholder='예산을 입력하세요')
      .request-service__field.col-xs-6.col-md-2
        .inner
          label(for="service-cuisines-modal2") *음식타입
          select#service-cuisines-modal2(name='cuisines')
            option(value="all") 상관없음
            option(value="korean") 한식
            option(value="chinese") 중식
            option(value="japanese") 일식
            option(value="western") 양식
      .request-service__field.col-xs-6.col-md-12
        .inner
          label(for="service-zone-modal2") *위치
          input#service-zone-modal2.request-service--input(type='text', class='control', placeholder='위치를 입력하세요(ex: 서울특별시 강남구 대치동 xxx)')
      .request-service__field.col-xs-12.col-md-12
        .inner
          label(for="service-describe-modal2") 추가설명
          textarea#service-describe-modal2.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
      .request-service__submit.col-xs-12.col-md-12
        button.btn.btn-primary.btn--large.request-service-modal-btn 서비스 신청

  .modal.select-cuisines-modal.fade
    .select-cuisines.row.no-gutters
      h4 원하는 음식타입을 선택해주세요.
      .radio-inline
        input(type="radio" name="cuisines-radio", value="all", checked='checked')
        span 상관없음
      .radio-inline
        input(type="radio" name="cuisines-radio", value="korean")
        span 한식
      .radio-inline
        input(type="radio" name="cuisines-radio", value="chinese")
        span 중식
      .radio-inline
        input(type="radio" name="cuisines-radio", value="japanese")
        span 일식
      .radio-inline
        input(type="radio" name="cuisines-radio", value="western")
        span 양식
      .radio-inline
        input(type="radio" name="cuisines-radio", value="etc")
        span 기타
        input(type="text" name="etc-cuisines" placeholder="" )
      .button(style="text-align: right;padding-top: 20px;")
        button.btn.btn-primary.select-cuisines-btn 완료

script.
  //var timer = setInterval(slideBg, 3000);
  var cnt = 0;
  var maxSlideCount = 3;
  var imageList = ['/images/example1.jpg', '/images/example2.jpg', '/images/example3.jpg'];

  function slideBg() {
    var preStep = cnt % 3;
    var step = (cnt % 3) + 1;
    if(preStep === 0) {
      preStep = maxSlideCount;
    }
    cnt++;
    $(".dot-step-" + step.toString()).removeClass("fa-circle-o").addClass("fa-circle");
    $(".dot-step-" + preStep.toString()).removeClass("fa-circle").addClass("fa-circle-o");
    $('.section-head').css({
      'background-image': 'url(' + imageList[cnt % 3] + ')'
    })
  }

  function resizeTriangle() {
    var width = Math.floor($(window).width());
    $(".service-process__service--deco").css({
      'border-left': width/2 + 'px solid transparent',
      'border-right': width/2 + 'px solid transparent',
    })
  }

  $(document).ready(function(){

  });

  $(window).resize(function () {
    resizeTriangle();
  });
  $(".service--info--wrapper").bind("mouseenter", function () {
    var type = $(this).attr("data-type");
    $(".service--info--cover." + type).show();
  });

  $(".service--info--cover").bind("mouseleave", function () {
    var type = $(this).attr("data-type");
    $(".service--info--cover." + type).hide();
  });

  $(document).ready(function() {
    var $wrapperObject = $(".service--info--wrapper"),
            $coverObject = $(".service--info--cover");

    var height = $wrapperObject.height(),
            width = $wrapperObject.width();

    var windowWidth = $(window).width();
    resizeTriangle();

    if(windowWidth > 768) {
      $coverObject.width(width + 52);
    } else {
      $coverObject.width(width + 50);
    }
  });