extends layout

block content
  .subscription-intro
    section.top
      //.subscription-intro-cover
      .subscription-intro-header
        h1 정기 케이터링 서비스
        h2 매일 정해진 시간에 맞춤형 케이터링 서비스를 구독하세요.<br>매일 점심이든, 저녁이든 즐거운 시간을 보내세요.<br>달리셔스는 당신의 팀의 기호에 맞는 식단을 짜서 보내드립니다.
        .button
          input(type='button', value='지금 시작하기', class='btn btn-primary btn--large')

    section.two
      .intro-content
        .row.no-gutters
          .col-md-5
            h1 "오늘 뭐먹지?"
            h2 달리셔스가 해결해드립니다.
            p 달리셔스의 정기 케이터링 서비스는 당신의 사무실의 "오늘 뭐먹지?"에 대한 고민을 위한 완벽한 서비스입니다. 아침, 점심시간에 달리셔스는 당신의 주변에서 운영되는 최고의 음식점으로부터 여러분의 일정에 맞춰 도착합니다.
            p 달리셔스는 한끼의 식사가 개인에게 얼마나 중요한지 알고 있습니다. 따라서 모든 음식을 당신의 요구 사항을 충족하여 항상 최선의 식사를 제공합니다.
            p 간단한 가입과 함께 식사시간, 일정 등을 조율하여 정기 서비스를 신청할수 있습니다. 달리셔스 정기 케이터링 서비스를 통해, 당신의 소중한 점심시간을 아낄수도 있습니다.
            p 지금 바로 간단한 절차를 통해 달리셔스 정기 케이터링 서비스를 만나보세요!
          .col-md-7.bg

    //section.request
      .request-wrapper
        .request-service
          //.request-service__field
            label(for="service-date") *날짜
            input#service-date.ll-skin-melon.request-service--input(type='text', class='control', placeholder='날짜를 선택하세요')
          .request-service__field
            label(for="service-people2") *인원
            input#service-people2.request-service--input(type='text', class='control', placeholder='인원수를 입력하세요')
          //.request-service__field
            label(for="service-budget") *예산
            span.budget-slug
            input#service-budget.request-service--input(type='text', onkeyup='this.value=numberFilter(this.value)' class='control', placeholder='예산을 입력하세요')
          //.request-service__field
            label(for="service-cuisines") *음식타입
            select#service-cuisines(name='cuisines')
              option(value="all") 상관없음
              option(value="korean") 한식
              option(value="chinese") 중식
              option(value="japanese") 일식
              option(value="western") 양식
          .request-service__field.request-service__field--address
            label(for="service-zone2") *위치
            input#service-zone2.request-service--input(type='text', class='control', placeholder='위치를 입력하세요(ex: 서울특별시 강남구 대치동 xxx)')
          .request-service__field--full
            label(for="service-describe2") 추가설명
            textarea#service-describe2.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
          .request-service__submit
            button.btn.btn-primary.request-service-btn(data-type="subscription") 서비스 신청