extends layout

block content
  .partner-intro
    section.top
      .intro-content
        .intro-content-wrapper
          h1 <span class="highlight">달리셔스</span>에서<br class='br'>오너셰프의 꿈에<br>한걸음 더 다가가세요
          h2
          .button
            button(type='button', value='지금 시작하기', class='btn btn-primary btn--large members-join-btn') 지금 시작하기
    section.two
      .intro-header
        h1 <span class="highlight">WHY</span> 달리셔스?
        .intro-header-deco

      .intro-content.row.no-gutters
        .col-md-4.item
          .inner
            .bg.dream
            .content
              h3 오너셰프의 꿈
              p 에피타이져부터 디저트까지<br>식사의 처음부터 마지막까지 나의 음식철학을 담아 고객에게 제공합니다.<br>그 시작을 달리셔스와 함께하세요
        .col-md-4.item
          .inner
            .bg.pay
            .content
              h3 추가수익
              p 요리사의 직업 특성상 만족스럽지 못한 수입에 고민하면서도 꿈을 위해 그 자리를 묵묵히 지키는 여러분을 응원합니다. 달리셔스 멤버스에 가입하여 추가적인 수입을 만들어보세요
        .col-md-4.item
          .inner
            .bg.freedom
            .content
              h3 시간의 자유
              p 다양한 시간대의 케이터링 요청에서<br>나의 일정과 비교하여 참여할 수 있는 케이터링 행사를 찾아보세요.<br>자유로운 선택으로 서비스 가능한<br>날짜에 참여할 수 있습니다.
    section.three
      .intro-header
        h1 <span class="highlight">HOW TO START</span><br class='br'>멤버스 가입절차
      .intro-content.row.no-gutters
        .col-md-6.row.no-gutters.item
          .number 1
          .title 멤버스 가입
          .content
            .how 서비스매칭에 필요한 간단한 정보를 입력해 멤버스가 되세요.<br>원활한 케이터링 서비스가 가능한 곳 인지 자체적인 심사후에<br>달리셔스 멤버스에 등록이 됩니다.

        .col-md-6.row.no-gutters.item
          .number 2
          .title 승인 심사
          .content
            .how 달리셔스는 엄정한 자체 기준을 통해 예비맴버들을 심사합니다.<br>고객들이 믿고 맡길 수 있는 달리셔스 멤버스가 되어,<br>특별한 케이터링 서비스를 제공해주세요.<br>고객 만족과 멤버스들의 동반성장을 위해 노력합니다.
        .col-md-6.row.no-gutters.item
          .number 3
          .title 수요자 입찰
          .content
            .how 고객은 시간, 인원, 장소 등을 기입하여 주문서를 작성합니다.<br>주문서가 작성되면 달리셔스만의 특별한 매칭시스템을 통해<br>추천된 멤버스에게 입찰여부 메시지가 전달되며,<br>입찰 된 리스트를 비교검토 하여 고객이 직접 선택합니다.
        .col-md-6.row.no-gutters.item
          .number 4
          .title 서비스 제공
          .content
            .how 선택 된 멤버스와 행사에 관한 세부사항 및 추가 요청사항을<br>확인하여 최종사항을 체크하고, 선정된 멤버스는 달리셔스와<br>협의하여 추가로 필요한 사항들(차량, 음식재료 등)을 결정하고<br>서비스를 제공합니다.


