extends layout

block content
  .intro-page
    section.top
      .sub-header COMPANY INFO
      .deco
      .intro-page-content
        .row.no-gutters
          .col-md-6.col-xs-12
            h1 특별한 그날<br>합리적인 케이터링을<br>경험해보세요
            h2 WITH DALICIOUS KITCHEN
            .describe.
              달리셔스는, "달리다"와 맛있다는 뜻의 "딜리셔스"의 합성어로<br>움직이는 맛과 음식 그리고 이를 만드는 키친을 의미합니다.<br><br><br>
              달리셔스는 움직이는 키친을 통해<br><span class="highlight">세상에서 가장 아름다운 가치를 가진 음식점</span>을 꿈꿉니다.<br>
              달리셔스는 물리적인 매장에서 벗어나 언제든지<br>음식을 필요로 하는 사람들의 곁으로 달려가 음식의 철학을 나눕니다.<br>
              달리셔스는 음식을 함께 나눌 사람들이 있는 곳이라면 어디나 달려가<br>잊지 못할 최고의 경험을 제공합니다.<br>
          .col-md-6.col-xs-12
            img.phone-bg(src="/images/introduce/appsimul.jpg")
          .col-md-12.col-xs-12
            .intro-button(style="text-align: center;")
              a(href="/")
                button(type='button', value='지금 시작하기', class='btn btn-primary btn--large') 지금 시작하기
    section#contact.two
      .intro-content
        .sub-header CONTACT US
        .deco
        .row.no-gutters
          .col-md-12.col-xs-12(style="margin-bottom: 40px").
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2341.5413410239416!2d127.11419975501141!3d37.49483447733677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca58e3a751611%3A0xaa02779460222baf!2z7ISc7Jq466i56rGw66as7LC97JeF7IS87YSw!5e0!3m2!1sko!2skr!4v1493435177763" width="600" height="450" frameborder="0" style="border:0"></iframe>
          .col-md-7
            .contact-item
              p(style="font-size: 14px !important;") 서울특별시 송파구 양재대로 932, 서울먹거리창업센터 312<br>(가락동 600, 가락몰 1)
              p <span class="highlight">#312, SFSC, 932, Yangjae-Daero, Songpa-Gu, Seoul, KOREA</span>

            .contact-item
              p [지하철]
              p 3,8호선 가락시장역 2번출구 양재대로 방향으로 300M 직진(도보 6분)

            .contact-item
              p [버스]
              p 가락시장(24-385) 정류장_일반 16, 일반 31, 일반 60, 일반 100, 일반 101<br>가락시장(24-363) 정류장_일반 31, 일반 60, 일반 100, 간선 301, 지선 3319

            .contact-item
              p [주차안내]
              p 24시간 연중무휴 주차비 징수 (주차비는 가락몰 규정에 따릅니다.)<br>주차비: 최초 15분까지 무료, 120분까지 1,000원, 이후 10분당 500원이 추가됩니다.

          .col-md-5
            .contact-item
              .contact-line
                ul
                  li <img src="/images/t.svg"> &nbsp;&nbsp;&nbsp;<div class="contact-value">+82)2-897-2123</div>
                  li <img src="/images/f.svg"> &nbsp;&nbsp;&nbsp;<div class="contact-value">+82)2-897-2287</div>
                  li <img src="/images/m.svg"> &nbsp;&nbsp;&nbsp;<div class="contact-value">hello@dalicious.co</div>
              h3 업무제휴 문의
              p(style="font-size: 14px; margin: 40px 0;") 달리셔스 함께하시면 멤버스들간의 시너지 효과를 바탕으로 성장해 나갈수 있습니다. 아래로 연락처를 보내주시면 멤버스제휴에 관련한 문의사항에 대해 1:1 상담해 드립니다.
              .form
                input(type="text" placeholder="이름")
                input(type="text" placeholder="연락처")
                button(type="button") 제출

  script.
    $(document).ready(function(){
      $(".eat-des").bind("mouseenter", function () {
        var type = $(this).attr("data-index");
        $(".eat-" + type + " > .front").hide();
        $(".eat-" + type + " > .back").show();
      });

      $(".eat-des").bind("mouseleave", function () {
        var type = $(this).attr("data-index");
        $(".eat-" + type + " > .back").hide();
        $(".eat-" + type + " > .front").show();
      });
    });