extends layout

block content
  .subscription-intro
    section.top
      //.subscription-intro-cover
      .intro-content
        .padder
          h1 정기 케이터링 서비스
          h2.pc-text 매일 또는 주5일, 11시반, 12시, 5시반.<br>시간과 일정을 직접 선택하는 정기 케이터링 서비스를 시작하세요.<br>달리셔스는 주변 맛집을 선별하여 가장 이상적인 식단을 구성합니다.
          h2.mobile-text 매 정해진 시간에 정기 케이터링 서비스를 만나보세요.<br>매일 점심이든, 저녁이든 즐거운 시간을 보내세요<br>달리셔스는 주변 맛집을 선별하여 가장 이상적인 식단을 구성합니다.
        //.button
          button(type='button', value='지금 시작하기', class='btn btn-primary btn--large') 지금 시작하기
    section.two
      .intro-content
        .row.no-gutters
          .col-md-12
            h1 "오늘은 뭐먹지?"<br><span class="highlight">달리셔스</span>가<br>해결해드립니다.
            p 달리셔스의 정기 케이터링 서비스는 사무실에서 매일 반복되는 "오늘은 뭐 먹지?"에 대한 고민을 해결할 수 있는 완벽한 서비스입니다. 달리셔스는 우리 주변에서 운영되고 있는 음식점의 최고의 메뉴를 고객사의 일정에 맞추어 보내드립니다.
            p 달리셔스는 일상에서 음식이 얼마나 중요한 역할을 하고 있는지 누구보다도 잘 알고 있습니다. 이를 바탕으로 개별적인 고객사의 의견과 요청 사항을 귀담아 듣고 취향을 수렴하여, 항상 최고의 음식을 통한 최고의 경험을 제공합니다.
            p 간단한 가입절차 이후 달리셔스의 전문 식단구성팀과 함께 식사시간, 일정 등을 조율하여 정기 케이터링 서비스를 신청할 수 있습니다. 달리셔스 정기 케이터링 서비스를 통해, 당신의 소중한 식사시간을 아낄 수 있습니다.
            p 지금 바로 간단한 절차를 통해 달리셔스 <span class="highlight" style="font-size: 18px">정기 케이터링 서비스</span>를 만나보세요!

      .button-wrapper
        .button
          button(type='button', value='지금 시작하기', data-type='subscription',  class='btn btn-primary btn--large inner select') 지금 시작하기

      .bg.pc-text

  .ondemand-intro
    section.top
      .intro-content
        .ondemand-intro-header
          h1 맞춤 케이터링 서비스
          h2 이번 주말 친구들과 파티를 계획하고 계신가요?<br>비즈니스를 위해 다과가 필요하진 않으신가요?<br>달리셔스와 함께라면 특별한 그날이 더욱 빛날 것 입니다.

    section.two
      .bg-wrapper
        .intro-content
          .inner
            h1 "특별한 그날"을 위한 요리
            h2 <span class="highlight">달리셔스</span>가 해결해드립니다.
            p 달리셔스의 맞춤 케이터링 서비스는 당신의 특별한 날에 맞추어 전문 쉐프들 혹은 레스토랑을 매칭하여 합리적인 케이터링 서비스를 제공하는 <span class='text-bold'>온라인 케이터링 플랫폼</span>입니다.
            p 비즈니스 미팅을 위한 소규모 다과 케이터링, 소셜파티와 같은 소규모 모임부터 스몰 웨딩, 기업 행사와 같은 대규모 연회까지 당신의 특별한 날을 더욱 빛내기 위해 함께 고민합니다.
            p 온라인 주문서로 계획한 그날의 날짜·인원·예산·장소만 적어 주세요. 가장 적합한 쉐프를 찾아 드립니다.
            p 기존의 획일화된 케이터링 서비스, 복잡하던 케이터링 서비스가 아닌 간단하게 스스로가 예산과 인원수를 결정하고 조정하여 입찰 할 수 있는 플랫폼 입찰 시스템으로 나만의 케이터링 메뉴를 만들어보세요.
            p 지금 바로 간단한 주문서 작성을 통해 달리셔스 <span class="highlight" style="font-size: 18px;">맞춤 케이터링 서비스</span>를 만나보세요!


            .button-wrapper
              .button
                button(type='button', value='지금 시작하기', data-type='ondemand',  class='btn btn-primary btn--large select inner') 지금 시작하기

  #request-section(style="padding: 0 !important")
    .modal.request-subscribe-service.request-modal.fade
      .request-service-modal
        .request-service-modal-border
          .request-modal-close
            a.close-request-modal(href="#", data-type="subscribe")
              img(src="/images/ico/wgray.svg")
          .request-modal-header
            .title
              h1 정기 케이터링 신청서
            .describe.row.no-gutters
              .col-md-3.col-xs-2
                .icon
                  img(src="/images/subscription-icon.png")
              .col-md-9.col-xs-10
                .content.
                  작은 식사 모임이나 각종 행사에 내가 원하는 조건에 맞춰 케이터링 서비스를 만날 수 있습니다 아래 양식을 작성하시면 나만의 맞춤 케이터링을 위한 경매가 시작됩니다.
          .request-form
            .row.no-gutters.service-row
              .col-md-12.col-xs-12.field-subscription
                .field-wrapper.row.no-gutters
                  .col-md-12.col-xs-12
                    label 회사/단체명
                  .col-md-12.col-xs-12
                    input#service-job-modal.request-service--input(type='text', class='control', placeholder="회사/단체명")
              .col-md-6.col-xs-6.field-subscription
                .field-wrapper.row.no-gutters
                  .col-md-12.col-xs-12
                    label 인원
                  .col-md-12.col-xs-12
                    input#service-people-modal.request-service--input(type='text', class='control', placeholder="40")

              .col-md-6.col-xs-6.field-subscription
                .field-wrapper.row.no-gutters
                  .col-md-12.col-xs-12
                    label 위치
                  .col-md-12.col-xs-12
                    input#service-zone-modal.request-service--input(type='text', class='control', placeholder="서울특별시")
              .col-md-12.col-xs-12.field-subscription
                .field-wrapper
                  label 추가 요청 사항
                  textarea#service-describe-modal.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")
              .col-md-12.col-xs-12.field-subscription
                .field-button(style="width: 100%;")
                  button.btn.btn-primary.request-service-subscribe-btn(style="width: 100%;padding: 12px 10px; font-size: 16px;") 신청합니다.

    .modal.request-ondemand-service.request-modal.fade
      .request-service-modal
        .request-service-modal-border
          .request-modal-close
            a.close-request-modal(href="#", data-type="ondemand")
              img(src="/images/ico/wgray.svg")
          .request-modal-header
            .title
              h1 맞춤 케이터링 신청서
            .describe.row.no-gutters
              .col-md-3.col-xs-2
                .icon
                  img(src="/images/ondemand-icon.png")
              .col-md-9.col-xs-10
                .content.
                  작은 식사 모임이나 각종 행사에 내가 원하는 조건에 맞춰 케이터링 서비스를 만날 수 있습니다 아래 양식을 작성하시면 나만의 맞춤 케이터링을 위한 경매가 시작됩니다.
          .request-form
            .row.no-gutters.ondemand.service-row
              .col-md-4.col-xs-6.field
                .field-wrapper.row.no-gutters
                  .col-md-4.col-xs-12
                    label 날짜
                  .col-md-8.col-xs-12
                    .inner
                      input#service-date-modal2.ll-skin-melon.request-service--input(type='text', class='control', placeholder='선택해주세요')
              .col-md-4.col-xs-6.field
                .field-wrapper.row.no-gutters
                  .col-md-4.col-xs-12
                    label 인원
                  .col-md-8.col-xs-12
                    .inner
                      input#service-people-modal2.request-service--input(type='text', class='control', placeholder="(ex: 40)")
              .col-md-4.col-xs-6.field
                .field-wrapper.row.no-gutters
                  .col-md-4.col-xs-12
                    label 시작
                  .col-md-8.col-xs-12
                    select#service-starttime2(name='service-starttime')
                      option 시간
                      - for(var i=0; i<24; i++) {
                      option(value="#{i}") #{i}시
                      - }
              .col-md-4.col-xs-6.field
                .field-wrapper.row.no-gutters
                  .col-md-4.col-xs-12
                    label 예산
                  .col-md-8.col-xs-12
                    span.budget-slug
                    .inner
                      input#service-budget-modal2.request-service--input(type='text', placeholder="1,000,000" onkeyup='this.value=numberFilter(this.value)' class='control')
              .col-md-4.col-xs-6.field
                .field-wrapper.row.no-gutters
                  .col-md-4.col-xs-12
                    label 위치
                  .col-md-8.col-xs-12
                    .inner
                      input#service-zone-modal2.request-service--input(type='text', class='control', placeholder="서울특별시")
              .col-md-4.col-xs-6.field
                .field-wrapper.row.no-gutters
                  .col-md-4.col-xs-12
                    label 음식
                  .col-md-8.col-xs-12
                    select#service-cuisines-modal2(name='cuisines')
                      option(value="all") 상관없음
                      option(value="korean") 한식
                      option(value="chinese") 중식
                      option(value="japanese") 일식
                      option(value="western") 양식
              .col-md-12.col-xs-12.field
                .field-wrapper
                  label 추가 요청 사항
                  textarea#service-describe-modal2.request-service--textarea(placeholder="추가 요청사항을 입력해주세요")

              .col-md-12.col-xs-12.field
                .field-button(style="width: 100%;")
                  button.btn.btn-primary.request-service-modal-btn(style="width: 100%;padding: 12px 10px; font-size: 16px;") 신청합니다.
  script.
    $(document).ready(function(){
      $('p').wordBreakKeepAll();
    });