doctype html
html
  head
    title 달리셔스 - 케이터링 플랫폼
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    | <link rel="apple-touch-icon" sizes="57x57" href="/images/ico/apple-icon-57x57.png">
    | <link rel="apple-touch-icon" sizes="60x60" href="/images/ico/apple-icon-60x60.png">
    | <link rel="apple-touch-icon" sizes="72x72" href="/images/ico/apple-icon-72x72.png">
    | <link rel="apple-touch-icon" sizes="76x76" href="/images/ico/apple-icon-76x76.png">
    | <link rel="apple-touch-icon" sizes="114x114" href="/images/ico/apple-icon-114x114.png">
    | <link rel="apple-touch-icon" sizes="120x120" href="/images/ico/apple-icon-120x120.png">
    | <link rel="apple-touch-icon" sizes="144x144" href="/images/ico/apple-icon-144x144.png">
    | <link rel="apple-touch-icon" sizes="152x152" href="/images/ico/apple-icon-152x152.png">
    | <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-icon-180x180.png">
    | <link rel="icon" type="image/png" sizes="192x192"  href="/images/ico/android-icon-192x192.png">
    | <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    | <link rel="icon" type="image/png" sizes="96x96" href="/images/ico/favicon-96x96.png">
    | <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-16x16.png">
    | <link rel="manifest" href="/images/ico/manifest.json">
    | <meta name="msapplication-TileColor" content="#ffcc00">
    | <meta name="msapplication-TileImage" content="/images/ico/ms-icon-144x144.png">
    | <meta name="theme-color" content="#ffcc00">
    meta(name='author', content='dalicious')
    meta(name='description', content='달리셔스는 이동식 키친을 이용한, 맞춤형 케이터링 플랫폼 서비스입니다.')
    meta(name='keywords', content='케이터링, 밥차, 출장부페, 홈파티음식, 푸드트럭, 파티음식, 도시락배달, 음식')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://dalicious.co')
    meta(property='og:image', content='/images/ico/apple-icon-180x180.png')
    meta(property='og:site_name', content='달리셔스')
    meta(property='og:title', content='달리셔스 - 케이터링 플랫폼')
    meta(property='og:description', content='달리셔스는 이동식 키친을 이용한, 맞춤형 케이터링 플랫폼 서비스입니다.')
    meta(property='og:locale', content='ko_KR')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.js")
    -if(user)
      script.
        var globalUserId = '#{user._id}';
        var globalUserAuth = #{user.phone.verified};
  body
    .wrapper
      .login-section
        .white-cover
        .login-form
          .login-form-padder
            .login-form-header
              a.close-login-form(href="#")
                img(src="/images/ico/wgray.svg")
            form#login-form(data-type='CONSUMER')
              ul
                li
                  .social-btn.social-btn--facebook
                    a(href="/auth/facebook")
                      span.fa.fa-facebook   페이스북 계정으로 로그인
                li
                  .social-btn.social-btn--kakao
                    a(href="/auth/kakao")
                      span.fa.fa-comment   카카오톡 계정으로 로그인
                li.seperator
                  .or-seperator
                    hr
                    .ment 또는
                li
                  input(type='email', class='login-email' placeholder=' 이메일을 입력하세요')
                  span.error
                li
                  input(type='password', class='login-password', placeholder=' 비밀번호를 입력하세요')
                  span.error
                li
                  button.btn.btn-primary.login-btn(type='submit' value='로그인' style='padding: 12px 0') 로그인
                li.join 아직 달리셔스회원이 아니세요? <a class='highlight open-join-modal' href='#'>회원가입</a>

      .join-section
        .white-cover
        .join-form
          .join-form-padder
            .join-form-header
              a.close-join-form(href="#")
                img(src="/images/ico/wgray.svg")

            .join-tab.row.no-gutters
              .col-md-6.col-xs-6
                .join-tab--item.join-tab--user.join-tab--in.last
                  a(href='#', class='join-toggle', data-type='CONSUMER') 일반 회원
              .col-md-6.col-xs-6
                .join-tab--item.join-tab--members
                  a(href='#', class='join-toggle', data-type='members') 멤버스 가입

            form#join-form(data-type='CONSUMER')
              ul
                li
                  .social-btn.social-btn--facebook
                    a(href="/auth/facebook")
                      span.fa.fa-facebook   페이스북 계정으로 가입
                li
                  .social-btn.social-btn--kakao
                    a(href="/auth/kakao")
                      span.fa.fa-comment   카카오톡 계정으로 가입
                li.seperator
                  .or-seperator
                    hr
                    .ment 또는
                li
                  input(type='email', class='join-email', placeholder=' 이메일을 입력하세요')
                  span.error
                li
                  input(type='text', class='join-name', placeholder=' 이름을 입력하세요')
                  span.error
                li
                  input(type='password', class='join-password', placeholder=' 비밀번호를 입력하세요')
                  span.error
                li
                  input(type='password', class='join-password2', placeholder=' 비밀번호를 한번 더 입력하세요')
                  span.error
                li.members-type-field
                  select(name='members-type')
                    option(value="CHEF") 셰프
                    option(value="FOOD-TRUCK") 푸드트럭
                    option(value="EMPTY-FOOD-TRUCK") 푸드트럭 차량
                    option(value="CATERING") 케이터링
                    //'CHEF', 'FOOD-TRUCK', 'CATERING', 'EMPTY-FOOD-TRUCK'
                  span.error
                li
                  button.btn.btn-primary.join-btn(type='submit' value='회원가입' style='padding: 12px 0') 회원가입
                li.login 이미 계정이 있으신가요? <a class='highlight open-login-modal' href='#'>로그인</a>

      .mobile-gnb-cover
      .mobile-gnb
        .mobile-gnb__header
          a(href="#" class="hide-mobile-gnb")
            img(src="/images/ico/xwhite.svg")
        .mobile-gnb__login
          -if(!user)
            img(src='/images/people.svg' class="profile-image")
            | <br>
            a.gnb-btn.open-login-modal(href='#', class="#{gnbStyle}") 로그인
            span.split |
            a.gnb-btn.open-join-modal(href='#', class="#{gnbStyle}") 회원가입
            span.split |
            a.gnb-btn.members-join-btn(href='#', class="#{gnbStyle}") 멤버스 가입
          -else
            .row.no-gutters.mobile-gnb__loggedin
              .col-md-12.col-xs-12
                img(src='/images/people.svg' class="profile-image")
              .col-md-12.col-xs-12
                .gnb-name-wrapper
                  a.gnb-name(href='/mypage', class="#{gnbStyle}") <span class="name">#{user.displayName}</span> 님

            .mobile-gnb__login--mypage
              a(href="/mypage") 마이페이지
            .mobile-gnb__login--split |
            .mobile-gnb__login--request
              a(href="/mypage?menu=request") 신청목록

            //a(href='/logout' class='logout-a #{gnbStyle}') 로그아웃
        .mobile-gnb__content
          ul.mobile-gnb__menu
            li.mobile-gnb__menu--item
              a(href="/", class="#{gnbStyle} #{index}") 서비스 신청
            //li.gnb__center-menu--item
              a(href="/introduce", class="#{gnbStyle}") 달리셔스 소개
            li.mobile-gnb__menu--item
              a(href="/ondemand-service", class="#{gnbStyle} #{introduce}") 서비스 소개
            li.mobile-gnb__menu--item
              a(href="/review", class="#{gnbStyle} #{review}") 서비스 후기
            li.mobile-gnb__menu--item
              a(href="/supplier", class="#{gnbStyle} #{supplier}") 멤버스 소개
            //li.gnb__center-menu--item
              a(href="/subscription-service", class="#{gnbStyle}") Subscription
            li.mobile-gnb__menu--item
              a(href="/partner", class="#{gnbStyle} #{partner}") 멤버스 모집
        .mobile-gnb__footer
          a(href='/introduce', class="#{gnbStyle}") 회사소개
          a(href='#', class="#{gnbStyle}") FAQ & QNA
          a.sns(href='https://www.instagram.com/dalicious.co/', class="#{gnbStyle}") <span class="fa fa-instagram"></span>
          a.sns(href='https://www.facebook.com/DaliciousKorea/?fref=ts', class="#{gnbStyle}") <span class="fa fa-facebook"></span>
          a.sns(href='/logout', class="#{gnbStyle}") <span class="fa fa-sign-out"></span>
          //a(href="/logout")
            img(src="/images/logout.png")
      //.floating-manual
        span 처음 사용자세요!?? (click)<br>
        input(type="checkbox")
        | 다시보지않기
      //.manual * 처음이라 너무 어려우세요??? (click)
      header.header(class="#{gnbStyle}")
        nav.gnb
          div.gnb__logo
            a(href='/')
              img.main-logo(src='/images/half-logo.png')
          ul.gnb__center-menu
            li.gnb__center-menu--item
              a(href="/", class="#{gnbStyle}") 서비스 신청
            //li.gnb__center-menu--item
              a(href="/introduce", class="#{gnbStyle}") 달리셔스 소개
            li.gnb__center-menu--item
              a(href="/ondemand-service", class="#{gnbStyle}") 서비스 소개
            li.gnb__center-menu--item
              a(href="/review", class="#{gnbStyle}") 서비스 후기
            li.gnb__center-menu--item.gnb__center-menu--
              a.members(href="/supplier", class="#{gnbStyle}") 멤버스 소개
            //li.gnb__center-menu--item
              a(href="/subscription-service", class="#{gnbStyle}") Subscription
            li.gnb__center-menu--item
              a.members(href="/partner", class="#{gnbStyle}") 멤버스 모집
          ul.gnb__menus(class="#{gnbStyle}")
            li.gnb__menus--mobile
              a(href="#" class="show-mobile-gnb hb-btn")
                span.fa.fa-navicon
            //li.gnb__menus--sns-item
              a(href="https://www.facebook.com/DaliciousKorea/?fref=ts")
                img(src="/images/gnb-facebook.svg")
            //li.gnb__menus--sns-item
              a(href="https://www.instagram.com/dalicious.co/)
                img(src="/images/gnb-insta.svg")
            li.gnb__menus--item
              a.sns.instagram(href='https://www.instagram.com/dalicious.co/', class="#{gnbStyle}")
                img(src="/images/gnb-insta.svg")
            li.gnb__menus--item
              a.sns.facebook(href='https://www.facebook.com/DaliciousKorea/?fref=ts', class="#{gnbStyle}")
                img(src="/images/gnb-facebook.svg")

            -if(!user)
              li.gnb__menus--item
                a.open-login-modal(href='#', class="#{gnbStyle}") 로그인
              li.gnb__menus--item
                a.open-join-modal(href='#', class="#{gnbStyle}") 회원가입
              li.gnb__menus--item
                a.members-join-btn(href='#') 멤버스 가입
            -else
              li.gnb__menus--item
                a(href='/mypage', class="#{gnbStyle}") MYPAGE
              li.gnb__menus--item
                a(href='/logout' class='logout-a #{gnbStyle}') 로그아웃

      block content

    footer.footer
      .footer__content
        .footer__content--info
            .logo
              img(src="/images/index/index-dalicious-icon.svg")
            .content
              p.social
                a(href="https://www.facebook.com/DaliciousKorea/?fref=ts")
                  img(src="/images/facebook.svg")
                a(href="https://www.instagram.com/dalicious.co/")
                  img(src="/images/insta.svg")
              p 상호명 달리셔스 주식회사 | 대표 이강용
              p 사업자등록번호 376-87-00441
              p 주소 서울 송파구 양재대로 932, 먹거리창업센터 312호
              p 고객센터 hello@dalicious.co
              p.copyright Copyright © 2017 DALICIOUS COMPANY
            .link
              a(href="/introduce") 회사소개
              a(href="/agreement") 이용약관
              a(href="/policy") 개인정보처리방침
              a(href="") FAQ & QNA
        //.footer__content--copyright

    //.modal.join-modal.fade
      .join-tab.row.no-gutters
        .col-md-6.col-xs-6
          .join-tab--item.join-tab--user.join-tab--in
            a(href='#', class='join-toggle', data-type='CONSUMER') 일반 회원
        .col-md-6.col-xs-6
          .join-tab--item.join-tab--members
            a(href='#', class='join-toggle', data-type='members') 멤버스 가입
      .join-modal-wrapper
        form#join-form(data-type='CONSUMER')
          ul
            li
              .social-btn.social-btn--facebook
                a(href="/auth/facebook")
                  span.fa.fa-facebook   페이스북 계정으로 가입
            li
              .social-btn.social-btn--kakao
                a(href="/auth/kakao")
                  span.fa.fa-comment   카카오톡 계정으로 가입
            li.seperator
              .or-seperator
                hr
                .ment 또는
            li
              input(type='email', class='join-email', placeholder=' 이메일을 입력하세요')
              span.error
            li
              input(type='text', class='join-name', placeholder=' 이름을 입력하세요')
              span.error
            li
              input(type='password', class='join-password', placeholder=' 비밀번호를 입력하세요')
              span.error
            li
              input(type='password', class='join-password2', placeholder=' 비밀번호를 한번 더 입력하세요')
              span.error
            li.members-type-field
              select(name='members-type')
                option(value="CHEF") 셰프
                option(value="FOOD-TRUCK") 푸드트럭
                option(value="EMPTY-FOOD-TRUCK") 푸드트럭 차량
                option(value="CATERING") 케이터링
                //'CHEF', 'FOOD-TRUCK', 'CATERING', 'EMPTY-FOOD-TRUCK'
              span.error
            li
              button.btn.btn-primary.btn--large.join-btn(type='submit' value='회원가입') 회원가입

    //.modal.login-modal.fade
      .login-modal-wrapper
        form#login-form(data-type='CONSUMER')
          ul
            li
              .social-btn.social-btn--facebook
                a(href="/auth/facebook")
                  span.fa.fa-facebook   페이스북 계정으로 로그인
            li
              .social-btn.social-btn--kakao
                a(href="/auth/kakao")
                  span.fa.fa-comment   카카오톡 계정으로 로그인
            li.seperator
              .or-seperator
                hr
                .ment 또는
            li
              input(type='email', class='login-email' placeholder=' 이메일을 입력하세요')
              span.error
            li
              input(type='password', class='login-password', placeholder=' 비밀번호를 입력하세요')
              span.error
            li
              button.btn.btn-primary.btn--large.login-btn(type='submit' value='로그인') 로그인
            li
              hr
            li.join 아직 달리셔스회원이 아니세요? <a class='highlight' href='#'>회원가입</a>

    .modal.feedback-modal.fade
      .feedback-modal-wrapper
        .row.no-gutters
          .faq.col-md-6.col-sm-12.col-xs-12
            .inner
              h1 FAQ
              p 자주 문의되는 질문들을 모아놓은 안내글 입니다. 이 외에 궁금한 점이 있으신 분은 옆의 Q&A란에 글을 남겨주시면 친절히 답변드리겠습니다.
          .feedback.col-md-6.col-sm-12.col-xs-12
            .inner
              h1 Q&amp;A
              p 문의를 남겨주시면 담당자 확인 후 연락드리겠습니다.
              .feedback-form
                .row.no-gutters
                  .col-md-6.col-xs-6.col-sm-6
                    .form-inner
                      input(type='text', name='feedback-name', class='control', placeholder='이름')
                  .col-md-6.col-xs-6.col-sm-6
                    .form-inner
                      input(type='text', name='feedback-phone', class='control', placeholder='연락처')
                  .col-md-12.col-xs-12
                    .form-inner
                      textarea(class='', name='feedback-content', rows=5, placeholder="문의사항을 입력해주세요.")
              .button(style="text-align: right; margin-top: 20px;")
                button.btn.btn-sub.btn-feedback-submit(data-type="subscription") 보내기

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97831265-1', 'auto');
      ga('send', 'pageview');


    script(src='/js/vendor/modal/jquery.modal.js')
    script(src='/js/vendor/slick/slick.js')
    script(src='/js/vendor/wordbreak/jquery.word-break-keep-all.js')
    script(src='/js/0_main/core.js')
    script(src='/js/0_main/admin.js')
