extends mypage

block mypage-content
  .mypage-request
    table.table
      thead
        tr
          th.col-2 날짜
          th.col-8 요청사항
          th.col-1 가격
          th.col-1 상세
      tbody

  script.
    $(document).ready(function() {
      loadBidedList();
    });