extends mypage

block mypage-content
  -function getCuisinesName(value) {
  - if(value === "western") return "양식"
  - if(value === "korean") return "한식"
  - if(value === "chinese") return "중식"
  - if(value === "japanese") return "일식"
  - }
  -function undefineToEmpty(value) {
  - if(typeof value==="undefined") return ""
  - return value
  - }
  section.mypage-contents__section
    .mypage-contents__section--header
      h2 인증현황
    .mypage-contents__section--content
      if(user.supplier.authenticated)
        div 회원님은 인증된 달리셔스 멤버스입니다.
      else
        div 대기중
  section.mypage-contents__section
    .mypage-contents__section--header
      h2 멤버스 정보
    .mypage-contents__section--content
      .row.mb-10.no-gutters
        .col-md-3.pt-10.t-right
          label.pr-10 프로필사진
        .col-md-9
          if(user.avatar === "")
            img(src="/images/profile.png" class="profile-image")
          else
            img(src="#{user.avatar}" class="profile-image")
          input(type='file', name='avatar')
      .row.mb-10.no-gutters
        .col-md-3.pt-10.t-right
          label.pr-10 서비스 가능 지역
        .col-md-2
          select.available-zone
            option 추가
            each zone in availableZone
              option(value='#{zone}') #{zone}
        .col-md-7.zone-list
          each zone in myZone
            .myzone <span class='zone-title'>#{zone}</span> <a href='#' class='delete-zone-a' data-value='#{zone}'><span class='fa fa-times'></span></a>

      .row.mb-10.no-gutters
        .col-md-3.pt-10.t-right
          label.pr-10 음식 분야
        .col-md-2
          select.available-cuisines
            option 추가
              each cuisines in availableCuisines
                option(value='#{cuisines}') #{getCuisinesName(cuisines)}
        .col-7.cuisines-list
          each cuisines in myCuisines
            .mycuisines <span class='cuisines-title' data-value='#{cuisines}'>#{getCuisinesName(cuisines)}</span> <a href='#' class='delete-cuisines-a' data-value='#{cuisines}'><span class='fa fa-times'></span></a>

      .row.mb-10.no-gutters
        .col-md-3.pt-10.t-right
          label.pr-10 자기소개
        .col-md-8.col-xs-12
          input(type='text', value='#{user.introduce}', name='introduce')
      .row.mb-10.no-gutters
        .col-md-3.pt-10.t-right
          label.pr-10 자신있는 음식
        .col-md-2.col-xs-12
          .inner(style="padding-right: 5px;")
            input(type='text', value='#{undefineToEmpty(user.supplier.menus[0])}', name='food1', placeholder="음식입력")
        .col-md-2.col-xs-12
          .inner(style="padding-right: 5px;")
            input(type='text', value='#{undefineToEmpty(user.supplier.menus[1])}', name='food2', placeholder="음식입력")
        .col-md-2.col-xs-12
          .inner(style="padding-right: 5px;")
            input(type='text', value='#{undefineToEmpty(user.supplier.menus[2])}', name='food3', placeholder="음식입력")
    .mypage-contents__section--footer.t-right.pt-5
      button(type='button', class='btn btn-primary member-modify-btn', value='저장') 저장