extends mypage

block mypage-content
  .mypage-admin
    table.table.supplier-list
      thead
        tr
          th.col-md-1 이름
          th.col-md-1 유형
          th.col-md-1 이메일
          th.col-md-1 전화번호
          th.col-md-1 분야
          th.col-md-1 자신있는 메뉴
          th.col-md-5 소개
          th.col-md-1 수정
      tbody
  .pagination
    a(href='#', class='suppliersPage-prev-a') 이전
    a(href='#', class='suppliersPage-next-a') 다음

  script.
    $(document).ready(function() {
      loadSuppliers('true');
    });