extends mypage

block mypage-content
  .mypage-request-list
    table.table.request-list
      thead
        tr
          th.col-2 날짜
          th.col-2 이름
          th.col-2 연락처
          th.col-6 내용
      tbody

  script.
    $(document).ready(function(){
      loadFeedback();
    });