extends mypage

block mypage-content
  .mypage-request-list
    table.table.request-list
      thead
        tr
          th.col-2 날짜
          th.col-1 예산
          th.col-8 내용
          th.col-1 자세히
      tbody

  .pagination
    a(href='#', class='page-prev-a') 이전
    a(href='#', class='page-next-a') 다음
  script.
    $(document).ready(function(){
      loadAdminAuction('PROCESSING');
    });