extends mypage

block mypage-content
  section.mypage-contents__section
    .mypage-contents__section--header
      h2 기본정보
    .mypage-contents__section--content
      .row.mb-10
        .col-3.pt-10.t-right
          label.pr-10 이름
        .col-9
          input(type='text', value='#{user.displayName}')
      .row.mb-10
        .col-3.pt-10.t-right
          label.pr-10 성별
        .col-9
          select
            option(value) 성별
            option(value='male') 남자
            option(value='female') 여자
            option(value='etc') 기타
      .row.mb-10
        .col-3.pt-10.t-right
          label.pr-10 이메일주소
        .col-9
          input(type='text', value='#{user.email}')
    .mypage-contents__section--footer.t-right.pt-5
      button(type='button', class='btn btn-primary', value='저장') 저장