extends layout

block content
  -if(user)
    .mypage.row
      .mypage-submenu.col-md-12.col-xs-12
        //.mypage-submenu__info
          .name #{user.displayName} 님
          .subtitle 개인정보수정
        .mypage-submenu__wrapper
          .mypage-submenu__mobile-profile
            img(src="/images/profile-pic.png")
            div <span class="name">#{user.displayName}</span> 님
            div.small <a href="/mypage">개인정보수정</a>
          dl.mypage-submenu__menus.profile-menus
            //dt.mypage-submenu__menus--title 개인정보
            dd.mypage-submenu__menus--menu.profile(class='#{mypage_default}')
              a(href='/mypage?menu=default')
                .submenu-profile-wrapper #{user.displayName}님<br><span class="small">개인정보수정</span>
          dl.mypage-submenu__menus
            //dd.mypage-submenu__menus--menu(class='#{mypage_auth}')
              a(href='/mypage?menu=auth') 인증현황
            //dd.mypage-submenu__menus--menu(class='#{mypage_review}')
              a(href='/mypage?menu=review') 후기
            //dt.mypage-submenu__menus--title 서비스 메뉴
            dd.mypage-submenu__menus--menu(class='#{mypage_request}')
              .on-symbol(class='#{mypage_request}')
              a(href='/mypage?menu=request') 서비스 신청목록
            if(user.role.length > 1)
              //dt.mypage-submenu__menus--title 멤버스 메뉴
              //dd.mypage-submenu__menus--menu(class='#{mypage_members_auth}')
                a(href='/mypage?menu=members_auth') 인증현황
              dd.mypage-submenu__menus--menu(class='#{mypage_members_profile}')
                .on-symbol(class='#{mypage_members_profile}')
                a(href='/mypage?menu=members_profile') 멤버스 프로필
              dd.mypage-submenu__menus--menu(class='#{mypage_request_list}')
                .on-symbol(class='#{mypage_request_list}')
                a(href='/mypage?menu=request_list') 입찰가능 목록
              dd.mypage-submenu__menus--menu(class='#{mypage_bid}')
                .on-symbol(class='#{mypage_bid}')
                a(href='/mypage?menu=bid') 입찰 목록
            if(user.role[0] == 'ADMINISTRATOR')
              //dt.mypage-submenu__menus--title 관리자 메뉴
              //dd.mypage-submenu__menus--menu.mypage-submenu__menus--in 경매 현황
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_subscription}')
                a(href='/mypage?menu=admin_subscription') - 정기서비스 신청
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_auction}')
                a(href='/mypage?menu=admin_auction') - 진행중 경매
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_auction_end}')
                a(href='/mypage?menu=admin_auction_end') - 종료된 경매
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_supplier_auth}')
                a(href='/mypage?menu=admin_supplier_auth') 공급자 인증현황
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_supplier}')
                a(href='/mypage?menu=admin_supplier') 공급자 정보
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_consumer}')
                a(href='/mypage?menu=admin_consumer') 소비자 정보
              dd.mypage-submenu__menus--menu(class='#{mypage_admin_feedback}')
                a(href='/mypage?menu=admin_feedback') 피드백 목록
          //.float-right-logo
            .float-right-logo-image
              img(src="/images/mypage-logo.png")

      .mypage-contents.col-md-12.col-xs-12
        .mypage-wrapper
          block mypage-content
