extends mypage

block mypage-content
  .mypage-request
    table.table
      thead
        tr
          th.col-2 날짜
          th.col-1 예산
          th.col-7 진행사항
          th.col-2 상태
      tbody


  .modal.review-write-modal.fade
    .review-write
      .review-write__wrapper
        form.review-write-form
          .review-write__header
            h1 서비스는 만족스러우셨어요? 사진과 함께 리뷰를 남겨보세요
            input(type="hidden", value="", name="auction")
          .review-write__content
            textarea(placeholder="리뷰를 남겨보세요", rows=10, name="content")
          .review-write__file
            .review-write__file--wrapper
              .review-write__file--uploaded
                ul
              .review-write__file--item.row.no-gutters
                .col-md-12
                  input(type="file" name="images")
                //.col-md-1
                  input(type="button", value="지우기")
          .review-write__submit
            button.btn.btn-primary(type="submit", value="작성") 작성

  script.
    $(document).ready(function(){
      loadAuctionListToConsumer();
    });