extends mypage

block mypage-content
  section.mypage-contents__section
    .mypage-contents__section--header
      h2 인증된 정보
    .mypage-contents__section--content
      .row
        .col-3.pt-10
          label 이름
        .col-9
          input(type='text', value='#{user.displayName}')

  section.mypage-contents__section
    .mypage-contents__section--header
      h2 인증 미완료
    .mypage-contents__section--content
      .row
        .col-3.pt-10
          label 이름
        .col-9
          input(type='text', value='#{user.displayName}')