extends mypage

block mypage-content
  section.mypage-contents__section
    .mypage-contents__section--header
      h2 인증된 정보
    .mypage-contents__section--content
      .row
        .col-3.pt-10
          label 핸드폰 번호
        .col-9
          input(type='text', value='010-3080-1376')

  section.mypage-contents__section
    .mypage-contents__section--header
      h2 인증 미완료
    .mypage-contents__section--content
      .row
        .col-3.pt-10
          label 핸드폰
        .col-4
          input(type='text', value='')