extends mypage

block mypage-content
  .mypage-request-list
    table.table.request-list
      thead
        tr
          th.col-2 날짜
          th.col-7 요청사항
          th.col-1 입찰
          th.col-2 상세
      tbody

  .modal.bid-modal.fade
    .bid-modal-wrapper
      form#bid-form()
        ul
          li
            input(type='text', onkeyup='this.value=numberFilter(this.value)', class='bid-price', placeholder='입찰금액을 입력하세요.')
            span.error
          li
            textarea(class='bid-proposal', style='width: 358px; padding: 20px; border: 1px solid #eee', placeholder='제안할 메뉴를 상세히 적어주세요.')
          li
            button.btn.btn-primary.btn--large.bid-btn.bid-submit(type='submit' value='입찰하기') 입찰하기
  script.
    $(document).ready(function() {
      loadBidList();
    });