extends mypage

block mypage-content
  .mypage-admin
    table.table.supplier-list
      thead
        tr
          th.col-2 이름
          th.col-1 전화번호
          th.col-2 자신있는 메뉴
          th.col-2 자신있는 분야
          th.col-4 설명
          th.col-1 인증
      tbody
  .pagination
    a(href='#', class='suppliersAuthPage-prev-a') 이전
    a(href='#', class='suppliersAuthPage-next-a') 다음

  script.
    $(document).ready(function() {
      loadSuppliers('false');
    });