extends mypage

block mypage-content
  .mypage-request-list
    table.table.request-list
      thead
        tr
          th.col-2 날짜
          th.col-2 단체
          th.col-2 전화번호
          th.col-6 요청사항
      tbody

  script.
    $(document).ready(function() {
      loadSubscriptionList();
    });