extends mypage

block mypage-content
  .mypage-admin
    table.table.supplier-list
      thead
        tr
          th.col-2 이름
          th.col-3 이메일
          th.col-3 전화번호
          th.col-3 마지막 로그인 날짜
          th.col-1 수정
      tbody
  .pagination
    a(href='#', class='suppliersPage-prev-a') 이전
    a(href='#', class='suppliersPage-next-a') 다음

  script.
    $(document).ready(function() {
      loadConsumers();
    });