extends mypage

block mypage-content
  section.mypage-contents__section
    .mypage-contents__section--header
      h2 기본정보
    .mypage-contents__section--content
      .row.mb-10
        .col-3.pt-10.t-right
          label.pr-10 이름
        .col-9
          input(type='text', name='user-name', data-origin='#{user.displayName}', value='#{user.displayName}')
      //.row.mb-10
        .col-3.pt-10.t-right
          label.pr-10 성별
        .col-9
          select(name='gender')
            option(value) 성별
            option(value='male') 남자
            option(value='female') 여자
            option(value='etc') 기타
      .row.mb-10
        .col-3.pt-10.t-right
          label.pr-10 이메일주소
        .col-9
          input(type='text', value='#{user.email}', readonly)
      .row
        .col-3.pt-10.t-right
          label.pr-10 핸드폰 번호
        .col-3.auth1
          if(typeof(user.phone.number) !== 'undefined')
            input(type='text', value='#{user.phone.number}', name='user-phone' style='padding: 7px 0 7px 7px !important;')
          else
            input(type='text', value='', name='user-phone')
        .col-2.auth1(style='margin-left: 10px;')
          if(user.phone.verified)
            button(type='button', class='btn btn-primary phone-auth-request-btn', value='변경', style="padding: 8px") 변경
          else
            button(type='button', class='btn btn-primary phone-auth-request-btn', value='인증', style="padding: 8px") 인증
        .col-2.auth2
          input(type='text', value='', name='user-auth-number')
        .col-2.auth2(style='margin-left: 10px;')
          button(type='button', class='btn btn-primary phone-auth-btn', value='입력', style="padding: 8px") 입력
        .col-1.auth2.time
          span.time 03:00

    .mypage-contents__section--footer.t-right.pt-5
      button(type='button', class='btn btn-primary user-modify-submit', data-index='#{user._id}', value='저장') 저장
  if(user.role.length === 1)
    section.mypage-contents__section
      .mypage-contents__section--header
        h2 멤버스 전환신청
        p 케이터링 서비스를 제공할 수 있게 달리셔스 멤버스가 되어보세요
      .mypage-contents__section--content
        .row.mb-10
          .col-12.text-center

          .col-3.pt-10.t-right
            label.pr-10 유형
          .col-9
            select(name='members-apply-type' style="width: 100%;")
              option(value="CHEF") 셰프
              option(value="FOOD-TRUCK") 푸드트럭
              option(value="EMPTY-FOOD-TRUCK") 푸드트럭 차량
              option(value="CATERING") 케이터링

      .mypage-contents__section--footer.t-right.pt-5
        button(type='button', class='btn btn-primary user-members-apply', data-index='#{user._id}', value='신청') 신청