extends layout

block content
  .review-write
    .review-write__wrapper
      form
        .review-write__header
          h1 서비스는 만족스러우셨어요? 사진과 함께 리뷰를 남겨보세요
          input(type="hidden", value="", name="auction")
        .review-write__content
          textarea(placeholder="리뷰를 남겨보세요", rows=10, name="content")
        .review-write__file
          .review-write__file--wrapper
            input.add-file(type="button", value="파일추가")
            .review-write__file--item.row.no-gutters
              .col-md-11
                input(type="file" name="image[]")
              .col-md-1
                input(type="button", value="지우기")
        .review-write__submit
          button.btn.btn-primary(type="submit", value="작성") 작성
