extends layout

block content
  .review
    .review__items
      .review__item.row.no-gutters
        .left.col-md-6
          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 17.04.21
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/sb.jpeg')
            .col-md-12
              .review__item--title
                span.title 서울 신용보증재단 팀 회식 케이터링
              .review__item--content
                p 여주의 고즈넉한 펜션에서 진행된 서울신용보증재단 강남지점 팀 회식에 바베큐버스가 떴습니다. 현장에서 직접 훈연한 삼겹살, 목살, 치킨윙, 립으로 회식의 분위기가 최고였습니다. 여름엔 바베큐 아니겠습니까?
              .review__item--tag
                span.title 관련 TAG
                .item 케이터링
                .item 여주
                .item 바베큐
                .item 회식

          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 17.03.12~27
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/bs.jpeg')
            .col-md-12
              .review__item--title
                span.title 마블스튜디오 '블랙팬서' 스탭밀 케이터링
              .review__item--content
                p 약 3주간 할리우드 특급 영화 제작현장에 스탭들을 위하여 어벤져스가 출동했습니다. 삼촌밥차, 플레이팅 셰프팀, 카페시율 커피트럭이 함께 완성한 글로벌한 촬영장 케이터링!
              .review__item--tag
                span.title 관련 TAG
                .item 촬영장 케이터링
                .item 부산
                .item 마블
                .item 할리우드 영화

          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 17.02.28
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/dj.png')
            .col-md-12
              .review__item--title
                span.title 대전 신용보증기금 ‘창업성장지점’ 개점식
              .review__item--content
                p 대전에서 열린 신용보증기금 ‘대전창업성장지점’ 개점식에 신선한 음식을 제공하기 위해 대전의 명물인 캘리포니아 베이커리와 선명숙 명인의 정성이 담긴 기품의 떡으로 케이터링을 제공했습니다. 에끌레어, 마카롱, 크로와상 샌드위치 등 선호도가 높은 브런치 메뉴와 다양한 떡과 음료 등 편하게 먹을 수 있는 핑거푸드 중심의 메뉴로 구성하여 만족스러운 매칭을 하였습니다.
              .review__item--tag
                span.title 관련 TAG
                .item 케이터링
                .item 대전

          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span> 관리팀
                .date 17.01.19
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/tvn.jpg')
            .col-md-12
              .review__item--title
                span.title tvN 도깨비 촬영
              .review__item--content
                p 찬란하신 도깨비님께서 저희 달리셔스에게 촬영 마지막 날 고생하는 스텝들을 위해 작은 선물을 준비해달라 부탁하셨습니다. 도깨비님의 취향에 맞춰 교황님이 드신 명인의 떡 ‘기품’과 프랑스 직수입 빵집 ‘브리오슈도레’가 함께 눈부신 그분을 뵈러 갔었습니다. 정갈하고 고급스러운 명인의 떡에 마음마저 아름다운 도깨비님의 따뜻함이 충분히 전달 되었을 것입니다.
              .review__item--tag
                span.title 관련 TAG
                .item 케이터링
                .item 한식

          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 16.12.15
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/design.jpg')
            .col-md-12
              .review__item--title
                span.title 뮤니트 디자인 회식
              .review__item--content
                p 푸드트럭-스테이크아웃과 홍순조쉐프의 콜라보레이션으로 분당에 위치한 뮤니트디자인에서 행사가 있었습니다. 기존 케이터링의 핑거푸드나 콜드디쉬가 아니라 푸드트럭의 그릴에서 구워내는 김이 모락모락나는 스테이크를 사무실에서 직원들과 함께 먹게 될 줄 상상하지 못했다는 평가를 얻었습니다. 더구나 이날 행사는 소규모로 진행되어 케이터링의 높은 최소인원과 제한적인 메뉴에 대한 고정관념을 탈피하는 자리이었습니다.
              .review__item--tag
                span.title 관련 TAG
                .item 케이터링
                .item 서울시
                .item 양식
        .right.col-md-6
          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 17.03.30
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/gr.jpeg')
            .col-md-12
              .review__item--title
                span.title 잠실 먹거리창업센터 네트워킹 파티
              .review__item--content
                p 가락몰에서 진행된 수출벤더들과 푸드 스타트업간의 네트워킹 현장에 다녀왔습니다. 지난 대전에서 호평받았던 기품과 캘리포니아 베이커리의 콜라보레이션!!!
              .review__item--tag
                span.title 관련 TAG
                .item 가락몰
                .item 잠실
                .item 네트워크 파티
          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 17.02.24
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/gm2.png')
            .col-md-12
              .review__item--title
                span.title 광명 청년창업지원센터 간담회
              .review__item--content
                p 광명 시장님께서 함께한 광명시 청년창업센터의 간담회가 열려 또 한번 케이터링 서비스를 제공하였습니다. 좋은 식재료와 천연 조미료만을 사용해 영양까지 듬뿍 담긴 다섯가지 반찬과 깊은 맛의 수정과를 제공해 주셔서 젊은 청년들 부터 시장님의 입맛까지 만족시킨 만족스러운 행사였습니다.
              .review__item--tag
                span.title 관련 TAG
                .item 케이터링
                .item 광명시
                .item 한식
          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 16.12.16
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/gm.jpg')
            .col-md-12
              .review__item--title
                span.title 광명시 청년창업센터 행사
              .review__item--content
                p 프랑스 직수입생지 빵으로 유명한 브리오슈도레와 함께 광명시 청년창업센터 행사에 케이터링서비스를 제공하였습니다. 브리오슈도레 매장을 지날때마다 몇 번을 고민하고 먹던 하이엔드 디저트 에끌레어, 마카롱, 파티스리, 비엔누아즈리 그리고 각종 샌드위치와 같은 브런치 메뉴를 합리적인 가격으로 매칭하게 되어 달리셔스도 놀라고 방문객들도 놀라는 행사이었습니다.
              .review__item--tag
                span.title 관련 TAG
                .item 케이터링
                .item 광명시
                .item 양식
          .inner.row.no-gutters
            .col-md-2
              img(src='/images/profile-pic.png' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 달리셔스 <span class="sub">Dalicious</span>
                .date 16.11.12
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/review/mv.jpg')
            .col-md-12
              .review__item--title
                span.title 가수 수이 뮤직비디오 현장
              .review__item--content
                p 가수 수이양의 뮤직비디오 촬영현장에 스테이크아웃팀과 홍순조쉐프님께서 식사를 준비해주셨습니다. 관계자 분께서는 촬영에 지친 스텝들을 위해 육류위주의 식단을 요청하셨습니다. 고심 끝에 달리셔스에서는 특별히 스테이크아웃팀과 홍순조쉐프님을 섭외하여 안내해드리니 너무 좋아하셨던 아직도 기억에 남습니다. 재료, 메뉴선정부터 조리까지 달리셔스는 항상 고객과 함께 고민합니다.
              .review__item--tag
                span.title 관련 TAG
                .item 푸드트럭
                .item 서울시
                .item 양식
          //.inner.row.no-gutters
            .col-md-2
              img(src='/images/chef-profile1.jpg' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 정지승 님
                .date FEB. 15
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/chef-profile0.jpg')
            .col-md-12
              .review__item--title
                span.title M 방송사 예능프로 촬영
              .review__item--content
                p
          //.inner.row.no-gutters
            .col-md-2
              img(src='/images/chef-profile1.jpg' class="profile-image")
            .col-md-10
              .review__item--owner
                .name 정지승 님
                .date FEB. 15
            .col-md-12
              .review__item--picture.row.no-gutters
                .col-md-12
                  .pic-inner
                    img(src='/images/chef-profile0.jpg')
            .col-md-12
              .review__item--title
                span.title M 방송사 예능프로 촬영
              .review__item--content
                p



  .modal.view-pic-modal.fade
    .view-pic__button.row.no-gutters
      .view-pic__button--left.col-md-6
        a(href="#" class="prev-image-a")
          span.fa.fa-arrow-left
      .view-pic__button--right.col-md-6
        a(href="#" class="next-image-a")
          span.fa.fa-arrow-right
    .view-pic__wrapper
      .view-pic__image
        img(class="main-view-image" src="")

  script.
    $(document).ready(function(){
      //loadReviewList();

      $(".prev-image-a").click(function(e){
        e.preventDefault();
        var $modal = $(".view-pic-modal");
        var pictures = JSON.parse($modal.attr("data-pictures"));
        var curIndex = parseInt($modal.attr("data-index"));

        if(curIndex === 0 || pictures.length <=1){
          return false;
        }

        curIndex = curIndex - 1;

        $(".main-view-image").attr("src", pictures[curIndex]);
        $modal.attr("data-index", curIndex);

      });

      $(".next-image-a").click(function (e) {
        e.preventDefault();
        var $modal = $(".view-pic-modal");
        var pictures = JSON.parse($modal.attr("data-pictures"));
        var curIndex = parseInt($modal.attr("data-index"));

        if (curIndex === pictures.length - 1) {
          return false;
        }

        curIndex = curIndex + 1;

        $(".main-view-image").attr("src", pictures[curIndex]);
        $modal.attr("data-index", curIndex);

      });

    });

    $(document).on("click", ".review-image", function(){
      var $modal = $(".view-pic-modal");
      $modal.attr("data-index", $(this).attr("data-index"))
      $modal.attr("data-pictures", $(this).parent().parent().parent().attr("data-pictures"));
      $modal.find('img').attr('src', $(this).attr('src'));
      $modal.modal();
    });


