extends layout

block content
  section.section-supplier
    .supplier__header
      img(src="/images/chefcap.png")
      h1 총 <span class="members-count">784</span>명의 멤버스가 달리셔스와 함께합니다.
    //.supplier.row
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 작업실여름
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 작업실여름입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 롤케잌
                .item 치아바타
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 록키스 핫도그
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 록키스 핫도그입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 핫도그
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 와라그릴
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 와라그릴입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 텍사스식 바베큐
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 구손선반
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 구손선반입니다.  <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 한식
                .item 나물
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 월향
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 월향입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 한식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 브리오 슈도레
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 브리오 슈도레입니다.  <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 프랑스 베이커리
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 장윤익
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 장윤익입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 이탈리안
                .item 중식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 기품
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 기품입니다.  <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 떡
                .item 한식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 채낙영
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 채낙영입니다.  <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 이탈리안
                .item 퓨전
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 삼촌밥차
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 삼촌밥차입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 케이터링
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 미스꼬레아
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 미스꼬레아입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 김치볶음밥
                .item 한식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 미스터카레
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 미스터카레입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 일본식 카레
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 스테이크 아웃
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 스테이크 아웃입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 큐브스테이크
                .item 양식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 김겨울
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 김겨울입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 이탈리안
                .item 피자
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 요브로
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 요브로입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 퓨전분식
                .item 한식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 레인카페
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 레인카페입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 칵테일
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 쭈너니 초밥
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 쭈너니 초밥입니다.  <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 일식
                .item 초밥
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 쥬스박스
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 쥬스박스 입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 착즙쥬스
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 머시쥬스
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 머시쥬스입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 착즙쥬스
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 플레이팅 셰프팀
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 플레이팅 셰프팀입니다. <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 이탈리안
                .item 퓨전
                .item 한식
      .supplier__list.col-md-4.col-xs-12.col-sm-6
        .supplier__list--inner
          .supplier__list--wrapper
            .supplier__list--picture
              img(src='/images/chef-profile1.jpg')
              .supplier__list--picturecover
                .triangle
                .supplier__list--job-char
                  img(src='/images/char/chef.png')
            .supplier__list--infowrapper
              .supplier__list--name 소바트럭
              //.supplier__list--type Chef
              .supplier__list--introduce <span class="highlight fa fa-quote-left"></span> 안녕하세요 소바트럭입니다.   <span class="highlight fa fa-quote-right"></span>
              .supplier__list--header
                .title 잘해요 <span class="fa fa-thumbs-o-up"></span>
              .supplier__list--address
                .item 소바
                .item 우동

  script.
    function resizeTriangle() {
      var width = Math.floor($(".supplier__list--picturecover").width());
      $(".triangle").css({'border-left': width - 1 + 'px solid transparent'})
    }

    $(document).ready(function(){
      resizeTriangle();
    });

    $(window).resize(function () {
      resizeTriangle();
    });