@charset "UTF-8";

// ------------------------------------------- //
// extend 정의
// ------------------------------------------- //
$main-width: 1080px;

%wrapper-box {
  width: $main-width;
  margin: 0 auto;
}