@charset "UTF-8";

// ------------------------------------------- //
// 버튼스타일 정의
// ------------------------------------------- //
@import '../helpers/_variables';
@import '../helpers/_mixins';

.btn {
  padding: 8px 30px;
  @include border-radius(3px);
  border-style: none;
  font-size: 14px;

  &.btn-primary {
    background-color: $primary-color;
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: #fff094;
    }
    &:active {
      background-color: #ffcd00;
    }
  }

  &.btn-sub {
    background-color: $sub-color;
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: #fff094;
    }
    &:active {
      background-color: #ffcd00;
    }
  }

  &--large {
    font-size: 20px;
  }
}