@charset "UTF-8";

.ui-datepicker {
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  background-color: #fff;
  a {
    text-decoration: none;
  }
  table {
    width: 100%;
    thead { // 요일
      border-bottom: 1px solid #e4e4e4;
    }
    th {
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 0;
      color: #666666;
      text-shadow: 1px 0px 0px #fff;
      filter: dropshadow(color=#fff, offx=1, offy=0);
    }
    tbody td {
      padding: 0;
      border-right: 1px solid #e4e4e4;
    }
    tbody td:last-child {
      border-right: 0px;
    }
    tbody tr {
      border-bottom: 1px solid #e4e4e4;
    }
    tbody tr:last-child {
      border-bottom: 0px;
    }
    td span, td a {
      display: inline-block;
      font-weight: bold;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #666666;
    }
  }
  &-calendar {
    .ui-state-default {
    }
    .ui-state-hover {
      background: #f7f7f7;
    }
    .ui-state-active {
      background: #ffdd00;
      color: #fff;
      border: 1px solid #d9b527;
      position: relative;
      margin: -1px;
    }
    td:first-child .ui-state-active {
      width: 39px;
      margin-left: 0;
    }
    td:last-child .ui-state-active {
      width: 39px;
      margin-right: 0;
    }
    tr:last-child .ui-state-active {
      height: 39px;
      margin-bottom: 0;
    }
  }
  &-unselectable {
    .ui-state-default {
      background: #f4f4f4;
      color: #b4b3b3;
    }
  }

  &-header {
    font-weight: bold;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 50px;
    font-size: 18px;
  }
  &-title {
    text-align: center;
  }
  &-prev, &-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
  }
  &-prev {
    float: left;
    background-position: center -30px;
  }
  &-next {
    float: right;
    background-position: center 0;
  }
}