@charset "UTF-8";

// ------------------------------------------- //
// form element 스타일 정의
// ------------------------------------------- //
@import '../helpers/_variables';

label {
  font-size: 14px;
  color: #444;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  &[type="text"], &[type="email"], &[type="password"] {
    padding: 7px 0;
    border-style: hidden;
    border-bottom: 1px solid #eee;

    @media screen and (max-width: 768px) {
      padding: 0 0;
    }
  }
  &.control {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      font-size: 19px;
    }
    &:focus::-webkit-input-placeholder, &:-moz-placeholder:focus, &:-ms-input-placeholder:focus {
      color: $primary-color;
    }
  }
  &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus {
    border-bottom: 1px solid $primary-color;
  }
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 7px 0;
  border-style: hidden;
  &:focus {
    border-bottom: 1px solid $primary-color;
  }
}

form {
  .error {
    font-size: 14px;
    color: #aa0000;
    display: none;
  }
}

select {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 7px 0;
  background: url(/images/select-indicator.svg) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  &::-ms-expand { /* for IE 11 */
    display: none;
  }
  @media screen and (max-width: 768px) {
    padding: 0 0;
  }
}
