@charset "UTF-8";

.social-btn {
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;

  a {
    color: #fff;
    font-size: 14px;
  }


  &--facebook {
    background-color: #3b5998;
  }

  &--kakao {
    background-color: #f9e81e;
    a {
      color: #3f3035;
    }
  }
}