@charset "UTF-8";
@import "../helpers/variables";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600|Lato:700);
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);

$primary-font: "NanumSquare", sans-serif;

html,body {
  font-family: "NanumSquare", sans-serif;
  font-weight: 500;
  line-height: 1.6em;
  color: #2b2c2d;
  word-break: keep-all !important;
  font-size: 14px;}
@media (min-width: 1140px) {
  body, html {
    font-size: 14px; }
}



.highlight {
  color: $primary-color;
}
.sub-highlight {
  color: $sub-color;
}

.hide {
  display: none !important;
}


.strong {
  font-weight: bold;
}



.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.flipY {
  //transform: rotateY( 180deg );
}