.agreement {
  padding: 70px;
  &__wrapper {
    padding-top: 50px;
    max-width: 880px;
    margin: 0 auto;
  }
  &__menu {
    &--item {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #eee;
      a {
        font-weight: bold;
      }
      &.on {
        border: 1px solid #eee;
        border-bottom: none;
      }
    }
  }
  &__content {
    border: 1px solid #eee;
    border-top: none;
    p {
      padding: 20px;
      font-size: 12px;
    }
  }
}