@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';


.biding-list {
  min-height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
  &__header {
    padding: 0 10px;
    h1 {
      font-size: 24px;
    }
    h2 {
      line-height: 30px;
    }
    padding-bottom: 10px;
  }

  &__item-li {
    display: inline-block;
    //width: (1080px/3 - 20px);
    //padding: 10px;
  }

  .li-wrapper {
    padding: 10px;
  }

  .supplier-profile {
    border: 5px solid #eee;
    &:hover  {
      border: 5px solid $primary-color;
    }
    &__rank {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: $primary-color;
      text-align: center;
      font-weight: bold;
      line-height: 30px;
      color: #fff;
      margin: 10px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
    &__header {
      //padding-bottom: 5px;
    }
    &__profile-image {
      width: 100%;
      height: 230px;
    }
    &__detail {
      padding: 10px 20px;

      h1 {
        line-height: 30px;
      }

      &--rate {
        font-size: 12px;
        color: #ffd82e;
      }
      &--name {
        font-weight: bold;
      }
      &--intro {
        padding: 3px 0;
        font-size: 12px;
        line-height: 18px;
        color: #a3a3a3;
      }
      &--graph {
        width: 100%;
      }
      &--career {
        padding-top: 10px;
        p {
          padding-left: 20px;
          font-size: 12px;
        }
      }
      &--review {
        padding: 5px 0;
        .review {
          padding-left: 20px;
          &__item {
            position: relative;
            span {
              display: inline-block;
              position: absolute;
              line-height: 30px;
              font-size: 12px;
              -ms-word-break: break-all;
              word-break: break-all;
              overflow: hidden;
              height: 30px;
            }
            &--profile {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              -moz-border-radius: 50%;
              -webkit-border-radius: 50%;
            }
          }
        }
      }
      &--accept {
        padding: 5px 0;
        button {
          width: 100%;
          font-size: 18px;
        }
      }

    }
  }
}

.payment {
  width: 1080px;
  margin: 0 auto;

  &__header {
    h1 {
      font-size: 24px;
    }
    padding-bottom: 10px;
  }
}