@charset "UTF-8";

@import "../helpers/variables";

.bid-modal {
  width: 400px;
  padding: 20px;
  @include border-radius(5px);
  li {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    padding: 20px;
    border: 1px solid #eee;
    width: 358px;
  }

  .bid-btn {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  width: 100%;
}