@charset "UTF-8";

@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

$section-padding: 50px 0;

.mobile-text {
  display: none;
}
@media screen and (max-width: 768px) {
  .pc-text {
    display: none;
  }
  .mobile-text {
    display: inherit;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    width: 100% !important;
  }
}

#index-section {
  padding-top: 70px;

  h1 {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 24px !important;
      line-height: 32px !important;
    }
  }

  .section-header .title {
    //font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #6a6a6a;
  }

  .section-header .deco {
    height: 1px;
    width: 100px;
    background-color: #6a6a6a;
    margin: 15px auto 0 auto;
  }

  .section-content {
    margin-top: 50px;
    /*.describe {
      padding: 20px 0;
    }*/
  }

}

#request-section {
  background-image: url('/images/index/index-main.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;

  @media screen and (max-width: 1680px) {
    background-image: url('/images/index/index-main2.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 40%;
    background-attachment: fixed;
  }
  @media screen and (max-width: 768px) {
    background-image: url('/images/index/index-main-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    padding-right: 20px;
    padding-left: 20px;
  }
  .bg {

  }
  padding: $section-padding;

  text-align: center;

  & > p {
    margin-top: 10px;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 29px !important;
  }
  h2 {
    font-size: 17px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 20px;
    text-align: left;
  }

  .request-form {
    max-width: 790px;
    margin: 0 auto;
    padding: 40px 0 0 0;

    @media screen and (max-width: 768px) {
      padding: 20px 0 0 0;
    }

    .row.subscription {
      display: none;
    }

    .service-describe {
      padding: 0 0 0 25px;
      .box {
        padding: 3px 0 3px 60px;
        background-color: #fff;
        font-size: 12px;
        text-align: left;
        .inner {
          border-left: 1px solid #eee;
          padding-left: 10px
        }
      }
      .subscription-mode {
        display: none;
      }
      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -15px;
        margin-top: 15px;
        border-style: solid;
        border-width: 0 15px 15px 0;
        border-color: transparent #ffffff transparent transparent;
        line-height: 0px;
        _border-color: #000000 #ffffff #000000 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      }
      .service-icon {
        position: absolute;
        left: 40px;
        top: 7px;
        img {
          height: 35px;
          width: auto;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .service-describe {
        padding: 0;
        .triangle {
          display: none;
        }
        .box {
          font-size: 12px;
          padding: 8px 5px;
          background-color: #eee;
        }
      }
    }
    @media screen and (max-width: 374px) {
      .service-describe {
        .box {
          font-size: 8px;
        }
      }
    }

    .field-wrapper {
      background-color: #fff;
      text-align: left;
      padding: 5px 10px;
      margin-bottom: 7px;
      position: relative;
      &:first-child {
        border-right: 1px solid #eee;
      }
      .field-button {
        text-align: right;
        .request-service-btn {

        }
      }

      label {
        font-size: 12px;
        color: #4f4f4f;
      }
      select {
        width: 100%;
      }
      input {
        border: 0 !important;
        box-sizing: border-box;
        width: 90% !important;
      }
      textarea {
        //margin-top: 20px;
        width: 100%;
      }

    }

  }
}

#dalicious-section {
  padding: 120px 0 0 0;
  @media screen and (max-width: 768px) {
    padding: 50px 20px 0 20px !important;
  }
  text-align: center;

  .section-content {
    h1 {
      //font-weight: bold;
    }
    p {
      color: #3a3a3a;
      margin: 20px 0;
    }
  }

  .section-bg {

    background-image: url('/images/index/index-plate.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    height: 400px;
    max-width: 800px;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
    .describe {
      font-size: 14px;
      br {
        display: none;
      }
    }
    .section-bg {
      height: 200px;
    }
  }
}

#service-section {
  background-color: #fafafa;
  padding: $section-padding;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
  text-align: center;
  .section-content {
    p {
      color: #3a3a3a;
      margin: 20px 0;
    }
    .describe {
      text-align: left;
      padding: 20px 0;
      max-width: 780px;
      margin: 0 auto;
      line-height: 24px;
      @media screen and (max-width: 768px) {
        padding: 10px 0;
      }
    }
    .service {
      max-width: 800px;
      margin: 0 auto;
      padding-top: 50px;
      .service-type-box {
        margin-bottom: 10px;
      }
      h2 {
        font-size: 30px;
        color: $primary-color;
      }
      .icon {
        position: absolute;
        right: 20px;
        top: 20px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .head {
        color: $primary-color;
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 5px;
        text-align: left !important;
        @media screen and (max-width: 768px) {
          font-size: 13pt;
        }
      }
      .describe {
        //border-left: 1px solid #eee;
        font-size: 14px;
      }
      .inner {

        &.ondemand {
          padding-right: 10px;
        }

        &.subscription {
          padding-left: 10px;
        }

      }
    }
    .service--info--wrapper {
      border: 1px solid #eee;
      background-color: #fff;
      padding: 25px 25px 5px 25px;
      z-index: 1;

      cursor: pointer;

      .describe {
        min-height: 10px;
        margin: 20px 0 0 0;

        line-height: 24px;
      }
    }

    .service--info--cover {
      display: none;
      position: absolute;
      z-index: 2;

      cursor: pointer;
      top: 0;
      font-size: 24px;
      background-color: $primary-color;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity:0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;

      &.ondemand { left: 0; }
      &.subscription {right: 10px; }

      div {
        width: 100%;
        height: 24px;

        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -12px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
    .section-content {
      p {
        font-size: 14px;
      }
      & > .describe {
        text-align: center;

      }
    }
  }
}

#eat-section {
  padding: $section-padding;
  @media screen and (max-width: 768px) {
    padding: 50px 20px;
  }
  text-align: center;
  p {
    margin: 20px 0;
  }
  .eat-box {
    max-width: 800px;
    margin: 80px auto 0 auto;
    &.mobile-text {
      margin: 0 !important;
      position: relative;
      .eat-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        .eat-icon-bg {
          position: absolute;
          @include border-radius(100%);
          background-color: $primary-color;
          width: 100px;
          height: 100px;
          margin-top: 100px;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
          filter: alpha(opacity=80);
          -moz-opacity:0.8;
          -khtml-opacity: 0.8;
          opacity: 0.8;
          background-color: $primary-color;
          top: 0;

          padding: 20px;
          margin-left: -20px;
          z-index: 0;
        }
        .eat-icon-mobile {
          position: relative;
          z-index: 1;
          text-align: center;
          margin-top: 100px;
          @include border-radius(100%);
          width: 100px;
          height: 100px;
          padding: 20px;
          img {
            width: auto;
            height: 50px;
            margin: 0 auto;
          }
          p {
            font-weight: bold;
            font-size: 24px;
          }
        }
        .eat-content-mobile {

          margin-top: 70px;
          font-size: 14px;
          color: #fff;
          width: 300px;
        }
      }
      & > div {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .eat-des {
    position: relative;
    .bg {
      img {
        width: 100%;
        height: 100%;
        margin: 0 !important;
      }
    }
    .eat-content {
      position: absolute;
      &.back {
        display: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 50%;
        margin-top: -113px;
        .icon {
          text-align: center;
          height: 126px;
        }
        .icon-content {
          padding: 20px 20px 0 20px;
          line-height: 24px;
          font-size: 12px;
          font-weight: bold;
        }
        &.bg {
          margin-top: 0;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
          filter: alpha(opacity=80);
          -moz-opacity:0.8;
          -khtml-opacity: 0.8;
          opacity: 0.8;
          background-color: $primary-color;
          top: 0;
        }
      }
      &.front {
        &.bg {
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
          filter: alpha(opacity=80);
          -moz-opacity:0.8;
          -khtml-opacity: 0.8;
          opacity: 0.8;
          @include border-radius(100%);
          background-color: $primary-color;
        }
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -60px;
        width: 120px;
        height: 120px;
        text-align: center;
        .title {
          padding-top: 24px;
          font-weight: bold;
          font-size: 20px;
        }
        .deco {
          width: 40px;
          height: 2px;
          background-color: #fff;
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .content {
          font-size: 12px;
          line-height: 16px;
        }
        .sub-title {
          font-size: 12px;
        }
      }
    }
  }
}

#how-section {
  padding: $section-padding;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
  text-align: center;
  background-color: #fafafa;
  .how-tab {
    max-width: 800px;
    margin: 50px auto 0 auto;
    &--btn {
      position: relative;
      &.on {
      }
    }
    .swap-service-a {
      text-align: center;
      display: block;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: $primary-color;
      padding: 10px 0 10px 0;
      color: #fff;

      &.on {
        border: 1px solid #eee;
        border-bottom: none;
        background-color: #fff;
        color: #000000;
      }
    }

    .how-content {
      background-color: #fff;
      padding: 50px 20px 30px 20px;
      border: 1px solid #eee;
      border-top: none;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        &.step-img {
          width: 50px;
          height: auto;
        }
      }

      .how-step-content {
        .content {
          margin: 20px 0;
        }
        .comment {
          position: relative;
          background-color: #eee;
          padding: 10px 0;
          font-size: 12px;
          .triangle {
            width: 0;
            height: 0;
            position: absolute;
            bottom: -8px;
            left: 50%;
            margin-left: -4px;
            border-style: solid;
            border-width: 8px 6px 0 6px;
            border-color: #eee transparent transparent transparent;
            line-height: 0px;
            _border-color: #eeeeee #000000 #000000 #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
          }
        }
        margin-bottom: 20px;
      }

      .step-image {
        text-align: right;
        padding-right: 20px;

      }
      .sub-step-image {
        display: none;
      }
    }
  }

  .how-step {
    max-width: 800px;
    padding: 20px 0 10px 0;
    margin: 10px auto 0 auto;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: left;

    img {
      max-width: 430px;
      height: auto;
      margin-top: 10px;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
      }
    }
    .step-image {
      //padding: 10px 20px 0 20px;
      text-align: center;
    }
    .describe {
      padding: 10px 40px;
      font-size: 16px;
      line-height: 24px;
    }
    @media screen and (max-width: 768px) {
      .step-image {
        padding: 0 10px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
    .section-content {
      text-align: left;
    }
  }
}

#app-section {
  position: relative;
  z-index: 0;

  background-image: url('/images/index/app.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #fafafa;
  .app-wrapper {


    h1 {
      line-height: 42px;
    }

    .app-wrapper-container {
      padding: 100px 0;

      img {
        width: 150px;
        height: auto;
        margin-right: 20px;
      }

      .app-icon {
        padding-top: 100px;
      }

    }

  }
}

@media screen and (max-width: 768px) {
  #app-section {
    display: none;
  }
}

#members-section {
  background-image: url('/images/index/index-members.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  padding: 120px 0;
  text-align: center;
  color: #fff;
  p {
    padding: 40px 0;
  }
  @media screen and (max-width: 768px) {
    background-image: url('/images/index/index-members-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.jssorb05 {
  position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url('img/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
.jssora22l.jssora22lds      (disabled)
.jssora22r.jssora22rds      (disabled)
*/
.jssora22l, .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url('img/a22.png') center center no-repeat;
  overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
.jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }