@charset "UTF-8";

@import '../helpers/_variables';
@import '../helpers/_extends';
@import '../helpers/_mixins';

.request-subscribe-service {
  background-color: #fff;
  .request-service-modal {
    padding: 20px;
  }
}

.request-ondemand-service {
  background-color: #fff;
  .request-service-modal {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100% !important;
  }
  br {
    display: none;
  }
}

.dalicious-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .highlight {
    font-weight: bold;
    color: $primary-color;
  }

  h1 {
    font-size: 34px;
    line-height: 78px;
  }

  .section-head {
    //background-color: #fafafa;
    padding-bottom: 50px;
  }
  .container-head {
    max-width: 880px;
    margin: 0 auto;
    &--top {
      padding-bottom: 20px;
    }
    &__pt {
      width: 640px;
      h1 {
        font-size: 38px;
        line-height: 48px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .dalicious-container {
    //padding: 20px;
    h1 {
      font-size: 34px;
      line-height: 38px;
      margin-bottom: 20px;
    }
    .section-head {
      //background-color: #fafafa;
      //padding-bottom: 50px;
    }
    .container-head {

      &--top {
        padding-top: 0;
        padding-bottom: 0;
      }
      &__pt {
        width: 100%;

        h1 {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
}

.request-select-bg {
 /* padding: 0;
  margin: 0;
  background: url('/images/request-select-bg.jpg');
  background-size: cover;
  background-position-x: -50px;
  background-repeat: no-repeat;
  z-index: -10;
  bottom: 0;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  width: 22%;*/
}

@media screen and (max-width: 768px) {
  .request-select-bg {
    background: none;
  }
}

.section-introduce {
  background-color: #fafafa;
  position: relative;
  height: 620px;
  .dalicius-introduce {
    h1 {
      line-height: 40px;
      margin-bottom: 50px;

    }
    h2 {
      font-size: 28px;
    }
    .describe {
      width: 300px;
      line-height: 24px;
    }
    max-width: 880px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 60px 0;

    &--bg {
      background-image: url('/images/steak.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      margin-top: 200px;
      top: 0;
      right: 20%;
      width: 540px;
      height: 400px;
    }

    @media screen and (max-width: 768px) {
      .describe {
        width: 100%;
        line-height: 24px;
      }
      &--bg {
        background-image: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-introduce {
    height: auto;
    text-align: center;
  }
}

.section-request-select {
  position: relative;
  background-color: #fafafa;
  padding: 150px 0;
}

.request-select {
  max-width: 768px;
  margin: 0 auto;
  font-size: 14px;

  .service {
    //width: 340px;
    //background-color: #fff;
    //border: 1px solid #eee;
    //padding: 10px 0;
    position: relative;

    &--header {
      margin-bottom: 80px;
      .category {
        font-weight: bold;
        font-size: 24px;
        color: $primary-color;
      }
      h1 {
        font-weight: bold;
        line-height: 42px;
        margin: 20px 0;
      }
      h2 {
        font-size: 16px;
        margin-bottom: 80px;
        font-weight: bold;
        color: #696969;
      }

      .describe {
        line-height: 24px;
        margin-bottom: 40px;
      }

      .more {
        display: none;
      }



    }

    h2 {
      font-size: 30px;
      color: $primary-color;
    }
    .icon {
      img {
        width: 100%;
        height: auto;
      }
    }
    .head {
      color: $primary-color;
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 5px;
    }
    .describe {
      //border-left: 1px solid #eee;
      font-size: 14px;
    }
    .inner {

      &.ondemand {
        padding-right: 10px;
      }

      &.subscription {
        padding-left: 10px;
      }

    }
    .service--info--wrapper {
      border: 1px solid #eee;
      background-color: #fff;
      padding: 25px;
      min-height: 170px;
      z-index: 1;

      cursor: pointer;

      .describe {
        min-height: 10px;
        margin: 20px 0 0 0;

        line-height: 18px;
      }
    }

    .service--info--cover {
      display: none;
      position: absolute;
      z-index: 2;

      cursor: pointer;
      top: 0;
      font-size: 24px;
      background-color: $primary-color;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity:0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;

      &.ondemand { left: 0; }
      &.subscription {right: 10px; }

      div {
        width: 100%;
        height: 24px;

        text-align: center;
        position: absolute;
        top: 50%;
        margin-top: -12px;
      }
    }
  }

}
@media screen and (max-width: 768px) {

  .section-request-select {
    padding: 50px 0;
  }
  .request-select {
    max-width: 768px;
    font-size: 14px;
    padding: 0 30px;

    .service {
      width: 100%;
      text-align: left;
      &--header {

        h1 {
          font-size: 24px;
          br {
            display: block;
          }
          line-height: 34px !important;
        }
        .describe {
          max-height: 80px;
          overflow: hidden;
        }
        .more {
          display: block;
          text-align: center;
          a {
            color: #a2a2a2;
          }
        }
      }
      h2 {
        font-size: 30px;
        color: $primary-color;
      }
      .inner {
        text-align: left;
        &.ondemand {
          padding-right: 0;
          margin-bottom: 20px;
        }

        &.subscription {
          padding-left: 0;
        }
      }
      .service--info--wrapper {
        min-height: 10px;
        .describe {
          margin: 20px 0 0 0;
        }
      }
      .service--info--cover {
        &.ondemand {
          left: 0;
        }
        &.subscription {
          right: 0;
        }
      }

      .icon {
        border-right: none;
        img {
          width: 100%;
          height: auto;
        }
      }

    }

  }
}

.carousel-top > figure:nth-child(1) { background-image: url('/images/index/mainimage1.jpg'); }

.carousel-top > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('/images/index/mainimage2.jpg');
}

.carousel-top > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('/images/index/mainimage3.jpg');
}

.carousel-top > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('/images/index/mainimage4.jpg');
}

.carousel-top > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('/images/index/mainimage2.jpg');
}

@keyframes
imageAnimation {  0% {
  animation-timing-function: ease-in;
  opacity: 0;//
}
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;//
  }
  100% {
    opacity: 0;//
  }
}
.carousel-top {
  padding-top: 50px;
}

.carousel-top > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 600px) {

}

.section-head {
  padding-top: 100px;
  //background-image: url('/images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .dot-icon {
    //padding-top: 50px;
    text-align: center;
    span {
      margin: 0 10px;
      font-size: 12px;
      color: #fff;
    }
  }

  //height: 768px;
}

@media screen and (max-width: 768px) {
  .section-head {
    background-color: #fafafa;
    padding: 50px 20px 0 20px;

  }
}

.tabbtn-mobile {
  display: none;
}
.tab-wrapper {
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 50px;

  //background-color: #fff;
  .tabbtn {
    position: absolute;
    margin-left: -35px;
    .tab-btn {
      text-align: center;
      margin-bottom: 5px;
      padding: 5px;
      background-color: #fff;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 25px;
      height: 100px;

      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      filter: alpha(opacity=90);
      -moz-opacity:0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9;

      &.off {
        -webkit-box-shadow: inset 4px 4px 5px -2px #888;
        box-shadow: inset -4px -2px 5px -4px #888;
        background-color: #dadada;
      }
    }
    img {
      margin-top: 12px;
      width: 17px;
      height: auto;
    }
  }
  .tab-cover {
    @include border-radius(3px);
    border-top-left-radius: 0;
    height: 485px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 1;
  }
  @media screen and (max-width: 768px) {
    .tab-cover {
      height: 425px;
    }
  }
}
.request-wrapper {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  &.subscription {
    display: none;
  }
  .swap-message {
    padding-top: 10px;
    a {
      @include border-radius(3px);
      padding: 5px 10px;
      display: inline-block;
      color: #fff;
      font-size: 14px;
      &:hover {
        background-color: #ffec85;
      }
    }
    a.primary {
      background-color: $primary-color;
    }
    a.sub {
      background-color: $sub-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .request-wrapper {

  }
  .tabbtn-mobile {

    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;

    a {
      @include border-radius(3px);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      text-align: center;
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 0;
      background-color: #4F4D3F;
      color: #fff;
      &.on {
        background-color: #fff;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
  .tab-wrapper {

    .tab-cover {
      @include border-radius(3px);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .tabbtn {
      display: none;
    }
  }
}

.request-service {
  @include border-radius(3px);
  -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
  -moz-box-shadow: 0 1px 3px 0 #dce0e0;
  box-shadow: 0 1px 3px 0 #dce0e0;
  border: 1px solid #eee;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
 // max-width: 880px; // 1080 - (padding-left: 10 + padding-right: 10)
  background-color: #fff;
  &__field {
    font-size: 12px;
    //width: (680px/6);
    //display: inline-block;
    //padding: 10px;
    .inner {
      padding: 10px 0;
    }
    &--full {
      padding: 10px;
    }
    &--address {
      //width: 200px;
    }
    label {
      font-size: 14px;
    }
    select {
      padding: 8px;
      border: 0;
    }
  }
  &__submit {
    text-align: right;
  }

  &--input {
    width: 100%;
  }
  &--textarea {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .request-wrapper {
    padding: 20px;
  }
  .request-service {
    padding: 10px;
    &__field {
      font-size: 12px;
      //width: 45%;
    }
    &--textarea {
     // width: 100%;
    }
  }
}

.intro-section {
  h2 {
    font-size: 18px;
    line-height: 60px;
  }
  padding: 20px 20px;
  margin: 0 auto 10px auto;
}

@media screen and (max-width: 768px) {
  .intro-section {
    padding: 0;
  }
}

.section-review {
  background-color: #fff;
}
.service-review {
  max-width: 880px;
  margin: 0 auto;
  .review-item {
    font-size: 12px;
    height: 200px;
    img {
      height: 200px;
      width: auto;
    }
  }
}

.carousel-top {

}

.section-members {
  background: url('/images/index/go-members-pc.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  .go-members {
    max-width: 768px;
    margin: 0 auto;
    text-align: left;
    padding: 100px 0;
    h2 {
      font-size: 28px;
      font-weight: bold;
    }
    p {
      padding: 10px 0;
      font-size: 14px;
      &.button {
        padding-top: 60px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-members {
    background: url('/images/index/go-members.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .go-members {
      max-width: 768px;
      margin: 0 auto;
      text-align: left;
      padding: 50px 20px;
    }
  }
}

.section-introduce-wrapper {
  position: relative;
  padding: 50px 0;
  background-color: #fff;
  z-index: 0;
}

.section-introduce-page {
  padding: 100px 0;
  background: url('/images/index/main-introduce-bg.png');
  background-size: contain;
  background-position-x: 0;
  background-repeat: no-repeat;
  .introduce-wrapper {
    max-width: 768px;
    margin: 0 auto;
    text-align: right;
    .category {
      font-weight: bold;
      font-size: 24px;
      color: $primary-color;
    }
    h1 {

      br { display: none; }
      font-weight: bold;
    }
    h2 {
      font-size: 18px;
      margin-bottom: 80px;
      font-weight: bold;
      color: #696969;
    }
    .describe {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 24px;
      .highlight {
        color: $primary-color;
      }
    }
    .describe-deco {
      width: 40px;
      height: 2px;
      background-color: $primary-color;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-introduce-wrapper {
    padding: 0;
  }

  .section-introduce-page {
    background: url('/images/index/main-introduce-bg-mobile.png');
    background-size: 300px;
    background-position-x: 50%;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 50px 20px;
    .introduce-wrapper {
      padding-top: 150px;
      text-align: left;
      h1 {
        br { display: block; }
      }
      .describe {
        font-size: 12px;
        line-height: 18px;
        .highlight {
          font-size: 14px;
        }
      }
    }
  }
}

.section-eatda {
  background: url('/images/eatdabg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  position: relative;
  z-index: 0;
  .eatda-main {
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    img {
      width: 80%;
      height: auto;
    }
    .pc {
      padding-top: 50px;
      display: block;
    }
    .mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-eatda {
    padding: 100px 0 150px 0;
    .eatda-main {
      width: 100%;
      .pc {
        display: none;
      }
      .mobile {
        img {
          width: 100%;
          height: auto;
        }
        padding: 50px 50px;
        display: block;
      }
    }
  }
}

.section-service-process {
  padding: 150px 10px;
  background-color: #fff;
  position: relative;
  z-index: 0;
  .service-process{
    &__wrapper {
      max-width: 768px;
      margin: 0 auto;
      text-align: center;
      h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin-bottom: 100px;
      }
      img {
        width: 100%;
        height: auto;
        &.bus-icon {
          width: 70px;
          height: auto;
          margin: 40px 0;
        }
      }
    }
    &__service {
      text-align: left;
      width: 100%;
      .bg {
        height: 1200px;
      }
      &--head {
        h2 {
          font-size: 20px;
          line-height: 24px;
          font-weight: bold;
        }
      }
      &--ondemand {
        .bg {
          background-image: url("/images/index/ondemand-step.svg");
          background-size: contain;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }

      &--subscription {
        .bg {
        }
      }
      &--deco {
        display: none;
      }
    }

    &__describe {
      text-align: left;
      border-top: 1px solid #dbdbdb;
      padding-top: 40px;
      line-height: 24px;
      .inner.mobile {
        display: none;
      }
    }
  }
}

.section-app {
  position: relative;
  z-index: 0;
  .app-wrapper {
    background-image: url('/images/app-download-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    h1 {
      line-height: 42px;
    }

    .app-wrapper-container {
      padding: 200px 0;

      img {
        width: 150px;
        height: auto;
        margin-right: 20px;
      }

      .app-icon {
        padding-top: 100px;
      }

    }

  }

}


@media screen and (max-width: 768px) {
  .section-app {
    display: none;
  }
  .section-service-process {
    padding: 0;
    .service-process {
      &__wrapper {
        width: 100%;
        h1 {
          font-size: 16px;
        }
        img {
          width: 80%;
          height: auto;
          &.bus-icon {
            width: 70px;
            height: auto;
            margin: 40px 0;
          }
        }
      }
      &__service {
        background-color: #fafafa;
        text-align: left;
        width: 100%;
        padding: 50px 0;
        &--head {
          padding: 30px 0;
          text-align: center;
          display: none;
        }
        &--ondemand {
          .bg {
            height: 880px;
            background-image: url("/images/index/ondemand-step-mobile.svg");
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
          }
        }

        &--subscription {
          display: none;
          .bg {
            background-image: url("/images/index/subscription-step-mobile.png");
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
          }
        }
        &--deco {
          width: 0;
          height: 0;
          display: block;
          border-left: 208px solid transparent;
          border-right: 208px solid transparent;
          border-top: 100px solid #fafafa;
        }
      }

      &__describe {
        text-align: center;
        border: none;
        padding: 40px 0;
        line-height: 24px;
        .inner {
          padding: 20px 0;
          &.pc {
            display: none;
          }
          &.mobile {
            display: block;
          }
        }
      }
    }
  }
}

.jssorb05 {
  position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url('img/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
.jssora22l.jssora22lds      (disabled)
.jssora22r.jssora22rds      (disabled)
*/
.jssora22l, .jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  background: url('img/a22.png') center center no-repeat;
  overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
.jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }