@import "../helpers/mixins";
.feedback-modal {
  width: 768px;
  .feedback-modal-wrapper {
    width: 768px;
    height: 400px;

    h1 {
      font-weight: bold;
      font-size: 34px;
    }

    p {
      font-size: 12px;
      margin: 20px 0;
    }

    .form-inner {
      padding: 10px;
      input { width: 150px;}
    }

    .inner {
      padding: 40px 20px;
      height: 100%;
    }
    .faq {
      height: 100%;
    }

    .feedback {
      background-color: #eee;
      .feedback-form {
        @include border-radius(5px);
        background-color: #fff;
      }

      textarea {
        width: 100%;
      }
      height: 400px;

    }
  }
}

@media screen and (max-width: 768px) {
  .feedback-modal {
    width: 100%;
    .feedback-modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

}