@charset "UTF-8";

.footer {
  float: left;
  width: 100%;
  background-color: #fff;
  color: #3f3f3f;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  position: relative;
  z-index: 0;
  img {
    width: auto;
    height: 85px;
  }

  border-top: 1px solid #eee;
  &__content {

    padding: 50px 50px;
    margin: 0 auto;
    text-align: center;

    p {
      margin-bottom: 7px;
      &.copyright {
        color: #767676;
      }
      &.social {
        img {
          width: 25px;
          height: 25px;
          margin: 0 10px;
        }
        margin-bottom: 15px;
      }
    }

    .logo {
      padding-bottom: 20px;
    }
    .content {
    }
    .link {
      padding: 20px 0 0 0;
      a {
        display: inline-block;
        margin: 0 10px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    img {
      width: auto;
      height: 70px;
    }
    &__content {
      padding: 40px 10px;
      text-align: center;
    }

    .logo {
      padding-right: 0;
      padding-bottom: 20px;
    }

  }
}