@charset "UTF-8";

@import "../helpers/mixins";
@import "../helpers/variables";

.main-banner {
  background: url('/images/header-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 40%;
}
.mobile-gnb-cover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1001;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.mobile-gnb {
  display: none;
  position: fixed;
  width: 100%;
  right: 0;
  height: 100%;

  background-image: url('/images/mobile-user-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  z-index: 1002;

  &__header {
    text-align: right;
    padding-top: 10px;
    a {
      color: #fff;
      font-size: 32px;
      padding: 20px;
    }
  }

  &__login {
    //padding: 40px 0 40px 60px;
    img {
      width: 80px;
      height: 80px;
    }
    text-align: center;

    padding-bottom: 20px;
    &--mypage, &--request {
      display: inline-block;
      font-weight: bold;
      a {
        color: #fff;
      }
    }

    &--split {
      display: inline-block;
      padding: 0 10px;
      color: #fff;
    }
    &__loggedin {
      text-align: center;
    }

    &--mypage {

    }
    .gnb-name-wrapper {

      padding-top: 10px;
      padding-left: 10px;
    }
    .gnb-name {
      font-size: 16px;
      color: #fff;
      .name {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .split {
      color: #fff;
    }
    .gnb-btn {
      font-weight: bold;
      font-size: 15px;
      display: inline-block;
      padding: 5px 10px;
      -webkit-border-radius:40px;
      -moz-border-radius:40px;
      border-radius:40px;
      //background-color: #fff;
      color: #fff;
      &:first-child {
        //margin-right: 20px;
      }
    }
  }
  &__content{ width: 80%; margin: 0 auto;}
  &__menu {
    &--item {
      text-align: left;
      a {
        font-size: 19px;
        color: #fff;
        display: block;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        box-sizing: border-box;
        &:hover{
          //color: #fff;
        }
        &.on {
          /*
          -webkit-border-top-left-radius:40px;
          -moz-border-top-left-radius:40px;
          border-top-left-radius:40px;

          -webkit-border-bottom-left-radius:40px;
          -moz-border-bottom-left-radius:40px;
          border-bottom-left-radius:40px;

          background-color: #fff;
          color: $primary-color;*/
        }
      }

    }
  }

  &__footer {
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
    a {
      color: #fff;
      font-size: 18px;
      display: inline-block;
      &.sns {
        font-size: 24px;
      }
      padding: 0 10px;
      img {
        margin-top: 10px;
        width: 30px;
        height: auto;
      }
    }
  }

}
.header {
  width: 100%;
  height: 70px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  &.white {
    background: none;
  }
  &.white.header--fixed {
    background-color: #fff;
  }
  //background-color: #fafafa;


  /*-webkit-box-shadow: 0 1px 3px 0 #dce0e0;
  -moz-box-shadow: 0 1px 3px 0 #dce0e0;
  box-shadow: 0 1px 3px 0 #dce0e0;*/

  &--fixed {
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    z-index: 1000;
    .gnb__center-menu--item {
      a {
        &.white {
          color: #000 !important;
          &:hover {
            color: $primary-color !important;
          }
        }
      }
    }
  }

  .gnb {
    position: absolute;
    z-index: 1000;
    //background-color: #fff;
    width: 100%;

    &__logo {
      float: left;
      padding-left: 20px;
      .main-logo {
        margin-top: 15px;
        height: 40px;
        width: auto;
      }
    }
    &__center-menu {
      //max-width: 880px;
      position: absolute;
      width: 100%;
      z-index: -1;
      //left: 50%;
      //margin-left: -440px;
      text-align: center;
      &--item {
        display: inline-block;
        line-height: 70px;
        padding-right: 20px;

        a {
          font-size: 14px;
          font-weight: bold;
          color: #484848;
          &:hover {
            color: $primary-color;
          }
          &.active {
            color: $primary-color;
          }
          &.white {
            color: #fff;
            &:hover {
              color: $primary-color !important;
            }
          }

          &.members {
            font-weight: normal;
          }
        }
      }
    }
    &__menus {
      float: right;
      padding-right: 10px;
      &--sns-item {
        display: inline-block;
        padding: 0 5px;
        a {
          display: block;
        }
      }
      &--item, &--mobile {
        display: inline-block;
        padding: 0 3px;
        text-align: center;
        a {
          width: 70px;
          margin-top: 20px;
          font-weight: bold;
          font-size: 12px;
          color: #fff;
          display: block;
          padding: 3px 7px;
          -webkit-border-radius:40px;
          -moz-border-radius:40px;
          border-radius:40px;
          background-color: $primary-color;

          &.hb-btn {
            color: $primary-color;
            width: auto;
            background: none !important;
            &:hover {
              color: $primary-color;
            }
          }

          &:hover {
            color: #fff;
          }
          &.active {
            color: $primary-color;
          }
          &.white {
            color: #fff !important;
            &:hover {
              color: #fff !important;
            }
          }
          &.members-join-btn {
            color: $primary-color;
            background-color: #fff;
            border: 1px solid $primary-color;
            &:hover {
              color: #fff;
              background-color: $primary-color;
            }
          }
          &.sns {
            top: -2px;
            width: 16px;
            position: absolute;
            font-size: 22px;
            background: none;
            text-align: center !important;
            border-radius: 100% !important;
            &:hover {

            }
            &.instagram {
              margin-left: -70px;
            }
            &.facebook {
              margin-left: -40px;
            }
            @media screen and (max-width: 1080px) {
              display: none;
            }
          }
        }
      }

      &--mobile {
        display: none;
        a {
          margin-top: 15px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      &__center-menu {
        display: none;
      }

      &__menus {
        display: inline-block;
        &--item {
          display: none;
        }
        &--mobile {
          display: inline-block;
          a {
            font-size: 28px;
          }
        }
      }
    }
  }

}