@import "../helpers/variables";
@import "../helpers/mixins";

.intro-content {
  height: 100%;
  text-align: center;
  h1 {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 24px !important;
      line-height: 32px !important;
    }
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
  }
  h3 {
    font-size: 18px;
  }
}

.intro-page {
  h1 {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 24px !important;
      line-height: 32px !important;
    }
  }
  .sub-header {
    font-size: 24px;
    color: #525252;
  }
  .deco {
    width: 100px;
    height: 1px;
    background-color: #525252;
    margin: 20px 0 40px 0;
  }
  #contact {
    max-width: 1080px;
    margin: 0 auto;
  }
  #contact iframe {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  #contact .section-subtitle {
  }

  #contact .contact-item {
    text-align: left;
    padding: 20px 0;
    h3 {
      font-size: 20px;
      margin: 40px 0 30px 0;
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      padding-bottom: 10px;
      &:first-child {
        padding-bottom: 30px;
      }
    }
  }
  #contact .contact-item h4 {
    margin-bottom: 30px;
  }

  #contact .contact-item p {
    margin: 10px 0;
  }
  #contact .contact-line img {
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
  }

  #contact button {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    width: 100%;
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 14px;
  }

  #contact input {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    width: 100%;
    border: 1px solid $primary-color;
    box-sizing: border-box;
    padding: 8px 10px;
    margin-bottom: 10px;
  }


  #contact input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $primary-color;
  }
  #contact input::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color;
  }
  #contact input:-ms-input-placeholder { /* IE 10+ */
    color: $primary-color;
  }
  #contact input:-moz-placeholder { /* Firefox 18- */
    color: $primary-color;
  }

  #contact .contact-line {
    //margin-top: 50px;
  }

  #contact .contact-line li {
    padding: 5px 0;
    .contact-value {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      margin-top: -100px !important;
    }
  }
  section.top {
    max-width: 880px;
    margin: 0 auto;

    padding: 120px 0;
    .phone-bg {
      width: 100%;
      height: auto;
    }
    .intro-page-content {
      h1 {
        font-weight: bold;
        font-size: 32px;
      }
      h2 {
        margin-top: 20px;
        color: #2e2e2e;
      }
      .describe {
        padding-top: 60px;
        font-size: 14px;
      }
    }
    .intro-button {
      padding: 100px 0 0 0;
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    section.top {
      padding: 100px 20px;
      .phone-bg {
        width: 100%;
        height: auto;
        margin-top: 70px;
      }
      .intro-page-content {
        h1 {
          font-weight: bold;
          font-size: 32px;
        }
        h2 {
          margin-top: 20px;
          color: #2e2e2e;
        }
        .describe {
          padding-top: 60px;
          font-size: 14px;
        }
      }
      .intro-button {
        width: 100%;
      }
    }
  }

  section.two {
    .intro-content {
      padding: 100px 0 100px 0;
      text-align: left;
      max-width: 880px;
      margin: 0 auto;
      h1 {
        margin-bottom: 80px;
      }

    }
  }
  @media screen and (max-width: 768px) {
    section.two {
      .intro-content {
        padding: 0 0 200px 0;
        text-align: left;
        max-width: 880px;
        margin: 0 auto;
        h1 {
          margin-bottom: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .intro-page {
    width: 100%;
    section.two {
      h1 {
        line-height: 48px;
        margin-bottom: 20px;
      }
      padding: 20px;
      text-align: center;
      .intro-describe {
        text-align: center;
        .intro-item {
          padding: 20px 0;
        }
        .intro-button {
          width: 100%;
          .button {
            text-align: center;
          }
        }
      }
    }
  }
}

//yogurt-1786329_1920
.subscription-intro {
  padding-top: 70px;
  section.top {
    //background-color: #fafafa;
    padding: 100px 0;
    background-image: url('/images/introduce/subscription-header.png');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;

    .intro-content {
      max-width: 1080px;
      margin: 0 auto;
      color: #fff;
      h1 {
        display: inline-block;
        border: 3px solid #fff;
        max-width: 450px;
        padding: 20px;
        line-height: 48px;
        margin: 0 auto;
      }
      h2 { margin-top: 40px;}
    }
  }

  section.two {
    padding-top: 150px;

    .intro-content {
      text-align: left;
      max-width: 880px;
      margin: 0 auto;

      word-break: normal !important;
      h1 {
        font-size: 30px;
        line-height: 36px !important;
        font-weight: bold;
      }
      h2 {
        font-size: 24px;
        line-height: 34px;
        font-weight: bold;
        margin-bottom: 40px;
      }
      p {
        margin: 20px 0;
        line-height: 20px;
        font-size: 14px;
        word-break: normal !important;

      }
    }

    .button-wrapper {
      max-width: 880px;
      padding-top: 50px;
      margin: 0 auto;
      button {
        width: 250px;
      }
    }

    .bg {
      height: 600px;
      background-image: url('/images/introduce/italy-1264104_1920.jpg');
      background-repeat: no-repeat no-repeat;
      background-size: contain;
      background-position-x: 100%;
      margin-top: -250px;
      text-align: center;
    }
  }
}

.ondemand-intro {
  padding-top: 70px;
  section.top {
    //background-color: #fafafa;
    padding: 100px 0;
    background-image: url('/images/introduce/ondemand-header.png');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;

    .intro-content {
      max-width: 1080px;
      margin: 0 auto;
      color: #fff;
      h1 {
        display: inline-block;
        border: 3px solid #fff;
        max-width: 450px;
        padding: 20px;
        line-height: 48px;
        margin: 0 auto;
      }
      h2 { margin-top: 40px;}
    }
  }
  section.two {

    padding: 50px 0;
    .bg-wrapper {
      padding: 50px 0;
      background-image: url('/images/introduce/ondemand-dish.png');
      background-repeat: no-repeat no-repeat;
      background-size: contain;
      background-position-x: 0;
      text-align: center;

    }
    .intro-content {
      text-align: right;
      max-width: 880px;
      margin: 0 auto;

      & > .inner {
        padding-left: 150px;
      }

      h1 {
        line-height: 48px;
        font-weight: bold;
      }
      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 40px;
      }
      p {
        margin: 20px 0;
        line-height: 20px;
        font-size: 14px;
        word-break: keep-all !important;
        white-space: pre-line !important;
      }
    }
    .button-wrapper {
      padding: 0;
      margin: 0;
      text-align: center;
      .inner {
        padding: 10px !important;
        text-align: center !important;
      }
      button {
        width: 250px;
      }
    }
  }
}


.partner-intro {
  section.top {
    //background-color: #fafafa;
    background-image: url('/images/introduce/members2.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .intro-content {
      max-width: 800px;
      margin: 0 auto;
      padding: 140px 0;
      text-align: left;
      .intro-content-wrapper {
        margin-right: 20px;
        .button {
          button {
            padding: 8px 50px;
          }
          margin-top: 80px;
        }
      }
      h1 {

        font-size: 28px;
        line-height: 34px;
        margin: 10px 0;
        color: #fff;

        .highlight {
          font-weight: bold;
          color: $primary-color;
        }
      }
      h2 { margin: 10px 0;}

    }
  }

  section.two {
    padding: 100px 0;

    .intro-header {
      h1 {
        font-size: 28px;
        text-align: center;
        font-weight: bold;
      }
      &-deco {
        width: 40px;
        height: 4px;
        background-color: $primary-color;
        margin: 40px auto;
      }
    }
    .intro-content {

      max-width: 880px;
      margin: 0 auto;

      .inner {
        padding: 10px 40px;
        .bg {
          width: 70px;
          height: 70px;
          margin: 0 auto;
          &.dream {
            background-image: url('/images/dream.png');
            background-repeat: no-repeat no-repeat;
            background-size: contain;
          }
          &.pay {
            background-image: url('/images/pay.png');
            background-repeat: no-repeat no-repeat;
            background-size: contain;
          }
          &.freedom {
            background-image: url('/images/freedom.png');
            background-repeat: no-repeat no-repeat;
            background-size: contain;
          }
        }
        .content {
          h3 {
            font-weight: bold;
            margin: 20px 0;
            font-size: 20px;
            color: $primary-color;
          }
          p {
            font-size: 13px;
            line-height: 24px;
          }
        }
      }
    }
  }
  section.three {
    padding: 100px 0;
    background-color: #fafafa;
    .intro-header {
      max-width: 880px;
      margin: 0 auto;
      padding-bottom: 100px;
      h1 {
        font-size: 34px;
        text-align: left;
        font-weight: bold;
        .highlight {
          font-size: 24px;
        }
      }
      &-deco {
        width: 40px;
        height: 4px;
        background-color: $primary-color;
        margin: 40px auto;
      }
    }

    .intro-content {
      max-width: 880px;
      margin: 0 auto;
      .item {
        margin-bottom: 40px;
        text-align: left;
      }
      .number {
        display: inline-block;
        text-align: left;
        color: $primary-color;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        margin-right: 10px;
      }

      .title {
        display: inline-block;
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 19px;
        text-align: left;

        padding-top: 7px;
      }

      .content {
        text-align: left;
        .how {
          line-height: 24px;
          color: #686868;
          padding-right: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .ondemand-intro {
    section.two {

      .bg-wrapper {
        background-image: url('/images/introduce/ondemand-dish.png');
        background-repeat: no-repeat no-repeat;
        background-size: 300px;
        background-position-x: 0;
        .inner {
          padding-left: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .ondemand-intro {
    section.two {
      .bg-wrapper {
        background-image: url('/images/introduce/ondemand-dish.png');
        background-repeat: no-repeat no-repeat;
        background-size: 200px;
        background-position-x: 0;
        .inner {
          padding-left: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .subscription-intro {
    section.top {
      background-image: url('/images/introduce/subscription-header-mobile.png');
      background-repeat: no-repeat no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      padding: 40px 20px;
      .intro-content {
        h1 {
          display: inline-block;
          margin: 0 auto;
          padding: 10px;
          border: 2px solid #fff;
          font-size: 28px;
        }
        h2 {
          margin-top: 40px;
          font-size: 14px;
        }
      }
    }

    section.two {

      padding: 50px 0;
      .intro-content {
        padding: 0 20px;
        h1 {
          font-size: 28px;
        }
        h2 {
        }
        p {
        }
      }

      .button-wrapper {
        padding-top: 50px;
        text-align: center;
      }

      .bg {
        margin-top: 0;
        height: 300px;
      }
    }
  }

  .ondemand-intro {
    section.top {
      background-image: url('/images/introduce/ondemand-header-mobile.png');
      background-repeat: no-repeat no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      padding: 40px 20px;
      .intro-content {
        h1 {
          display: inline-block;
          margin: 0 auto;
          padding: 10px;
          border: 2px solid #fff;
          font-size: 28px;
        }
        h2 {
          margin-top: 40px;
          font-size: 14px;
        }
      }
    }
    section.two {
      .bg-wrapper {
        background: none;
        .inner {
          text-align: left;
          padding: 20px;
        }
      }

      .button-wrapper {
      }
    }
  }
  //-- partner
  .partner-intro {
    section.top {
      //background-color: #fafafa;
      background-image: url('/images/introduce/partner-header-mobile.png');
      background-repeat: no-repeat no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      .intro-content {
        padding: 100px 0;
        text-align: center;
        .button {
          margin-top: 20px !important;
        }
        &-wrapper {
          margin-right: 0 !important;
        }
      }
    }
    section.two {
      .intro-content {
        .inner {
          padding: 10px 20px;
          .bg {
            width: 50px;
            height: 50px;
          }
          .content {
            padding: 0 20px;
            h3 {
              font-size: 20px;
            }
            p {
            }
          }
        }
        .item {
          margin-bottom: 40px;
        }
      }
    }
    section.three {
      .intro-header {
        h1 {
          font-size: 28px;
          text-align: center;
        }
      }
      .intro-content {
        .content {
          padding-left: 10px;
          .how {
            padding: 0;
          }
        }
        .title {
          padding-top: 12px;
          font-size: 18px;
        }
        .item {
          padding: 0 20px !important;
          .how > br {
            display: none;
          }
        }
      }
    }
  }
}