@charset "UTF-8";

@import "../helpers/variables";
.join-section {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  .join-form-header {
    text-align: right;
    a {
      font-size: 24px;
      display: inline-block;
    }
  }
  .join-tab {

    padding-bottom: 40px;
    width: 100%;


    text-align: center;
    &--item {
      margin: 0;
      width: 100%;
      &.last {
        border-right: 1px solid #eee;
      }
    }
    &--user, &--members{

    }
    &--in {
      width: 100%;
      .join-toggle {
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
  .join-form {
    display: none;
    z-index: 2001;
    position: fixed;
    width: 350px;
    height: 100%;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: -10px 1px 5px -4px rgba(0,0,0,0.18);
    -moz-box-shadow: -10px 1px 5px -4px rgba(0,0,0,0.18);
    box-shadow: -10px 1px 5px -4px rgba(0,0,0,0.18);
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    button {
      width: 100%;
    }
    .login {
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
    li {
      &.members-type-field {
        display: none;
      }
      padding-bottom: 10px;
    }

    .join-form-padder {
      padding: 20px;
    }
  }

}

.join-modal {
  @include border-radius(5px);
  width: 400px;
  padding: 20px;
  .join-toggle {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
  }
  .join-tab {
    padding-bottom: 10px;
    width: 100%;
    &--item {
      margin: 0;
      width: 100%;
      padding: 10px 0;
    }
    &--user, &--members{

    }
    &--in {
      width: 100%;
      border: 1px solid #d9b527;
      background-color: $primary-color;
      .join-toggle {
        font-weight: bold;
        color: #fff;
      }
    }
  }
  li {
    width: 100%;
    margin-bottom: 10px;
    &.members-type-field {
      display: none;
    }
    &.seperator {
      padding: 10px 0;
      margin-bottom: 0;
    }
    &.join {
      a.highlight {
        color: $primary-color;
        font-weight: bold;
      }
      font-size: 14px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #eee;
      margin: 1em 0;
      padding: 0;
    }
  }

  input {
    padding: 20px;
    border: 1px solid #eee;
    width: 358px;
  }

  .join-btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .modaler {
    padding: 0 30px;
  }
  .join-modal {
    width: 90% !important;
    .join-tab {

      &--item {
      }
      &--user, &--members{

      }
      &--in {
        .join-toggle {
        }
      }
    }
    li {

      &.members-type-field {

      }
      &.seperator {

      }
      &.join {
        a.highlight {

        }
      }
      &:last-child {
      }
    }

    input {
      padding: 20px 0;
      border: 1px solid #eee;
      width: 100%;
    }

    .join-btn {
      width: 100%;
    }
  }
}