@charset "UTF-8";

@import "../helpers/variables";

.login-section {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  .login-form-header {
    text-align: right;
    a {
      font-size: 24px;
      display: inline-block;
    }
    padding-bottom: 20px;
  }
  .login-form {
    display: none;
    z-index: 2001;
    position: fixed;
    width: 350px;
    height: 100%;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: -10px 1px 5px -4px rgba(0,0,0,0.18);
    -moz-box-shadow: -10px 1px 5px -4px rgba(0,0,0,0.18);
    box-shadow: -10px 1px 5px -4px rgba(0,0,0,0.18);
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    button {
      width: 100%;
    }
    .join {
      text-align: center;
      a {
        text-decoration: underline;
      }
    }
    li {
      padding-bottom: 10px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .login-form-padder {
    padding: 20px;
  }
}

.login-modal {
  @include border-radius(5px);
  width: 400px;
  padding: 20px;

  li {
    width: 100%;
    margin-bottom: 10px;
    &.seperator {
      padding: 10px 0;
      margin-bottom: 0;
    }
    &.join {
      a.highlight {
        color: $primary-color;
        font-weight: bold;
      }
      font-size: 14px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #eee;
      margin: 1em 0;
      padding: 0;
    }
  }

  input {
    padding: 20px;
    border: 1px solid #eee;
    width: 358px;
  }

  .login-btn {
    width: 100%;
  }

}


@media screen and (max-width: 400px) {
  .modaler {
    padding: 0 30px;
  }
  .login-modal {
    width: 90% !important;

    input {
      padding: 20px 0;
      border: 1px solid #eee;
      width: 100%;
    }

    .login-btn {
      width: 100%;
    }
  }
}