@charset "UTF-8";

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: auto;
  min-height: 100%;
}

.white-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2000;

  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.floating-manual {
  width: 100px;
  height: 80px;
  background-color: #0000fe;
  border-radius: 5px;
  position: fixed;
  right: 10px;
  top: 50%;
  color: #fff;
  font-weight:bold;
  font-size: 12px;
  padding: 20px;
}

.manual {
  background-color: #00A000;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}