@charset "UTF-8";
@import "../helpers/mixins";
@import "../helpers/variables";
.mypage {

  .auth2 {
    display: none;
    &.time {
      margin-top: 20px;
      margin-left: 5px;
    }
  }

  //max-width: 1080px;
  margin: 0 auto;
  height: auto;
  font-size: 12px;
  .bid-list-dl {
    padding-top: 10px;
    dt {
      font-weight: bold;
    }
  }
  th {
    text-align: center;
    font-size: 12px;
    border-bottom: 2px solid $primary-color;
  }
  tr {
    clear: both;
    &.detail-auction {
      border: 0;
      & > td {
        border: 0;
        .auction-detail-wrapper {
          text-align: left;
          padding-left: 20px;
        }
      }
    }
  }
  th[class*="col-"], td[class*="col-"] {
    float: none;
  }
  td {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    font-size: 12px;

    &.status {
      font-size: 12px;
    }

    & > div {
      height: 100%;
    }
    input {
      padding: 10px 0;
      width: 90%;
      font-size: 12px;
    }
  }

  tr.detail {
    display: none;
    & > td {
      border: 0;
    }
  }

  padding-top: 70px;
  &-submenu {
    //width: 250px;
    //float: left;
    //padding: 0 20px !important;
    text-align: left;
    background-color: $primary-color;
    &__mobile-profile { display: none; };
    &__wrapper {
      margin: 0 auto;
      .float-right-logo {
        float: right;
        height: 73px;
        line-height: 73px;
        margin: 0;
        .float-right-logo-image {
          margin: 15px 40px 0 0;
          img {
            width: 150px;
            height: auto;
          }
        }
      }
    }
    &__info {
      display: inline-block;
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
      border-right: 2px solid #fff;
      padding-right: 20px;
      .profile-image {
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        border: 1px solid $primary-color;
      }
      .name {
        color: #fff;
        font-size: 16px;
      }
      .subtitle {
        color: #fff;
        padding-top: 10px;
        font-size: 12px;
      }
    }
    &__menus {
      float: left;
      padding: 0 10px;
      &.profile-menus {

      }
      &--first {
        //padding-left: 120px;
      }
      &--title {
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        display: none;
      }
      &--menu {
        display: inline-block;
        font-size: 16px;
        padding: 23px 0;
        margin-top: 5px;
        position: relative;
        .on-symbol {
          position: absolute;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #fff;
          bottom: -3px;
          left: 50%;
          margin-left: -4px;
          display: none;
          &.mypage-submenu__menus--in {
            display: block;
          }
        }
        a {
          padding: 0 10px;
          color: #fff;
        }
        &.profile {
          background-image: url('/images/profile-pic.png');
          background-size: 40px;
          background-repeat: no-repeat;
          background-position: 0 50%;
          height: 57px;
          padding: 0 0 0 80px !important;
          margin: 0;
          text-align: left;
          display:table-cell;
          vertical-align:middle;

          .submenu-profile-wrapper {
            padding-right: 20px;
            border-right: 2px solid #fff;
          }

          //border-right: 3px solid #fff;
          .small {
            font-size: 12px;
          }
          a {
          }
        }
      }
      &--in {
        font-weight: bold;
      }

    }

    &__profile-image {
      border: 1px solid #f4f4f4;
      &--image {
        img {
          width: 100%;
          height: auto;
        }
      }
      &--name {
        padding: 10px;
      }
    }
  }
  &-contents {
    //width: 810px;
    padding: 0 !important;
    //float: right;
    &__section {
      margin-bottom: 10px;
      &--header {
        padding: 15px 20px;
        border: 1px solid #dcdcdc;
        background-color: #fafafa;
        font-size: 18px;

        p {
          font-size: 14px;
        }
      }
      &--content {
        border: 1px solid #dcdcdc;
        border-top-style: none;
        padding: 10px 40px 10px 20px;
        img.profile-image {
          width: 100px;
          height: auto;
        }
        .mycuisines {
          display: inline-block;
          font-size: 14px;
          padding: 5px 10px;
          background-color: #242424;
          color: #fff;
          margin:5px 10px 0 0;
          @include border-radius(5px);
          a {
            color: $primary-color;
          }
        }
        .myzone {
          display: inline-block;
          font-size: 14px;
          padding: 5px 10px;
          background-color: #242424;
          color: #fff;
          margin:5px 10px 0 0;
          @include border-radius(5px);
          a {
            color: $primary-color;
          }
        }
        label {
          font-size: 14px;
        }
        input {
          display: block;
          border: 1px solid #eee;
          padding: 8px 10px;
          width: 100%;
          font-size: 14px;
        }
        select {
          padding: 8px 10px;
          width: 100px;
          font-size: 14px;
        }
      }
    }

  }
}

.mypage-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 70px 10px;
}

@media screen and (max-width: 768px) {

  .mypage {
    &-submenu {
      padding: 0;
      margin: 0;
      &__mobile-profile {
        padding-top: 20px;
        display: block;
        text-align: center;

        img {
          width: 80px;
          height: 80px;
        }
        div {
          color: #fff;
        }
        .name {
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }

        .small {
          padding-top: 5px;
          a {
            color: #fff;
          }
        }

      }
      &__wrapper {
        text-align: center;
        .profile-menus {
          display: none;
        }
      }
      &__menus {
        float: none;
        padding: 0 5px;
        &.profile-menus {

        }
        &--first {
          //padding-left: 120px;
        }
        &--title {
          padding-bottom: 10px;
          font-weight: bold;
          font-size: 20px;
          display: none;
        }
        &--menu {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

}