@import "../helpers/variables";

.request-success-page {
  padding-top: 100px;
  .request-success {
    width: 768px;
    margin: 0 auto;

    h1 {
      font-size: 38px;
      font-weight: bold;
      color: $primary-color;
    }
    h2 {
      color: #b6b6b6;
      margin-top: 10px;
    }
  }
}