.request-modal {
  width: 450px;
  .title {
    text-align: center;
  }
  .describe {
    font-size: 12px;
    padding: 60px 0 20px 0;
    text-align: left;
    .icon {
      text-align: center;
      img {
        padding-top: 5px;
        width: 70%;
        height: auto;
      }
      @media screen and (max-width: 768px) {
        padding-right: 10px;
        img {
          width: 90%;
          height: auto;
        }
      }
      border-right: 1px solid #eee;
    }
    .content {
      padding: 0 0 0 20px;
      @media screen and (max-width: 768px) {
        padding: 10px 0 0 10px;
        font-size: 14px;
        line-height: 14px;
        margin-top: -5px;
      }
      @media screen and (max-width: 413px) {
        font-size: 14px;
      }
      @media screen and (max-width: 320px) {
        font-size: 10px;
      }
    }
  }
  .request-service-modal {
    padding: 10px;
    .request-service-modal-border {
      border: 1px solid #c7c7c7;
      padding: 10px;
    }
    .request-modal-close {
      text-align: right;
      a {
        font-size: 24px;
      }
      padding-bottom: 20px;
    }

    .field {
      .field-wrapper {
        border-top: 1px solid #eee !important;
        border-right: 1px solid #eee !important;
        input {
          width: 95% !important;
        }
      }
       &:nth-child(6), &:nth-child(7) {
        .field-wrapper {
          border-right: none !important;
        }
      }
      @media screen and (max-width: 768px) {
        &:nth-child(2), &:nth-child(4), &:nth-child(6) {
          .field-wrapper {
            border-right: none !important;
          }
        }
      }
    }

    .field-subscription {
      .field-wrapper {
        border-top: 1px solid #eee !important;
        border-right: none !important;
        input {
          width: 95% !important;
        }
      }
      &:nth-child(2) {
        .field-wrapper {
          border-right: 1px solid #eee !important;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .modaler {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }
  .request-modal {
    width: 100%;
    margin: 0 auto !important;
  }
}