@import '../helpers/mixins';
@import '../helpers/variables';
.review-write {

  &__wrapper {
    padding: 20px;
  }

  &__header {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
  }
  &__content {
    max-width: 768px;
    margin: 0 auto;
    textarea {
      width: 100%;
      border: 1px solid #dbdbdb;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      @include border-radius(5px);
      &:active{
        border: 1px solid $primary-color;
      }
    }
  }

  &__file {
    max-width: 768px;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    @include border-radius(5px);
    &--wrapper {
      padding: 10px;
    }
    &--item {
      padding-top: 10px;
    }
  }

  &__submit {
    max-width: 768px;
    margin: 0 auto;
    text-align: right;
    padding: 10px;
  }


}