@import "../helpers/variables";
@import "../helpers/mixins";

.review {
  padding: 100px 0;
  height: auto;
  background-color: #fafafa;

  &__items {
    max-width: 880px;
    margin: 0 auto;
  }

  &__item {
    margin-bottom: 10px;
    .inner {
      background-color: #fff;
      -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
      -moz-box-shadow: 0 1px 3px 0 #dce0e0;
      box-shadow: 0 1px 3px 0 #dce0e0;
      padding: 30px 20px;
      margin-right: 10px;
      margin-bottom: 10px;

      .profile-image {
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        border: 1px solid $primary-color;
      }
    }

    &--owner {
      padding-top: 5px;
      .name {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 3px;
      }
      .date {
        font-size: 10px;
        color: #909090;
      }
      .sub {
        font-size: 12px;
        color: #909090;
      }
    }

    &--title {
      .title {
        font-size: 20px;
        font-weight: bold;
      }
      .date {
        font-size: 10px;
        color: #909090;
        margin-left: 10px;
      }
    }
    &--content {
      p {
        margin-top: 5px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &--tag {
      margin-top: 10px;
      .title {
        font-size: 14px;
        font-weight: bold;
        color: $primary-color;
      }

      .item {
        display: inline-block;
        font-size: 12px;
        @include border-radius(5px);
        color: #000;
        background-color: $primary-color;
        padding: 2px 8px;
        font-weight: bold;
        margin-left: 2px;
      }
    }
    &--picture {
      img {
        width: 100%;
        height: auto;
        &:hover {
          cursor: pointer;
        }
      }
      padding: 10px 0;

      .pic-inner {
        padding: 2px 2px 0 2px;
      }
    }

    &--category {
      .category {
        font-size: 10px;
        display: inline-block;
        margin-right: 5px;
        background-color: $primary-color;
        color: #3a3a3a;
        @include border-radius(3px);
        padding: 5px;
      }
    }
  }

}

.review-old {
  padding: 100px 0;

  &__items {
    max-width: 880px;
    margin: 0 auto;

    &--item {
      //padding: 10px;
      background-color: #fafafa;
      -webkit-box-shadow: 0 1px 6px 0 #dce0e0;
      -moz-box-shadow: 0 1px 6px 0 #dce0e0;
      box-shadow: 0 1px 6px 0 #dce0e0;

      margin-bottom: 20px;

      /*border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;*/
    }
    &--title {
      padding: 10px;
      text-align: center;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
    }

    &--deco {
      width: 50px;
      height: 4px;
      background-color: $primary-color;
      margin: 10px auto;
    }

    &--date {
      font-size: 14px;
      padding-bottom: 10px;
      font-weight: bold;
    }

    &--describe {
      //padding: 0 20px;
      font-size: 14px;
    }

    &--header {
      .inner {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: #2e2e2e;
        width: 40px;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
      }
    }

    &--content {

      margin-top: -2px;
      .inner {
        padding-right: 10px;
        padding-bottom: 10px;
        color: #2e2e2e;
        font-size: 12px;
        line-height: 18px;
      }
    }

  }
}

.view-pic-modal {
  .view-pic{
    &__wrapper {
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }
    }

    &__button {
      font-size: 40px;
      a {
        color: #fff;
        padding: 0 10px;
      }
      background-color: $primary-color;
      &--left {
        left: 0;
        padding-left: 10px;
      }
      &--right {
        padding-right: 10px;
        text-align: right;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .review {
    padding: 70px 0;
    &__item {
      margin-bottom: 10px;
      .inner {
        margin-left: 10px;
      }
    }
  }
}