@import "../helpers/variables";

.section-supplier {
  padding-top: 70px;
  .members-count {
    font-size: 24px;
    color: #fff;
  }
  .supplier {
    max-width: 880px;
    margin: 0 auto;
    padding: 100px 0;
    &__header {
      padding: 100px 0;
      text-align: center;
      background-image: url("/images/introduce/members-list-header.png");
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      .highlight{
        color: $primary-color;
        font-size: 24px;
      }
      img {
        width: 50px;
        height: auto;
        margin-bottom: 20px;

      }
      h1 {
        font-weight: bold;
        font-size: 18px;
      }
    }

    &__list {
      padding: 0;
      &--inner {
        padding: 10px;
      }

      &--wrapper {
        position: relative;
        background-color: #fafafa;
        -webkit-box-shadow: 0 1px 6px 0 #ccc;
        -moz-box-shadow: 0 1px 6px 0 #ccc;
        box-shadow: 0 1px 6px 0 #ccc;

        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
      }

      &--picture {
        //position: absolute;
        text-align: center;
        padding: 1px;
        img {
          width: 100%;
          height: 180px;
        }
      }

      &--job-char {
        position: absolute;
        z-index: 10;
        top: 0;
        padding-left: 10px;
        img {
          width: 40px;
          height: auto;
        }
      }

      &--picturecover {
        position: absolute;
        width: 100%;
        height: 30px;
        //background-color: #fff;
        top: 0;
        margin-top: 107px;
        z-index: 0;
        .triangle {
          width: 0;
          height: 0;
          border-bottom: 40px solid #fafafa;
          border-left: 272px solid transparent;
        }
      }

      &--infowrapper {
        position: relative;
        margin-top: -40px;
        z-index: 900;
        background-color: #fafafa;
        padding-top: 10px;
        &--infowrapper:after {
          position: absolute;
        }
      }
      &--deco {
        width: 20px;
        height: 4px;
        margin: 0 auto;
        background-color: $primary-color;
        margin-bottom: 5px;
      }

      &--name {
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        padding-right: 30px;
      }

      &--type {
        text-align: center;
        font-size: 12px;
        color: #a6a6a6;
        padding: 5px 0;
      }

      &--introduce {
        padding: 10px 30px;
        text-align: left;
        font-size: 10px;
        line-height: 18px;
        color: #686868;
        background-color: #fafafa;
        word-break: normal;
        height: 30px;
        overflow: auto;
        span {
          font-size: 6px;
        }
      }
      &--header {
        padding-left: 30px;
        font-size: 12px;
        .title {
          font-size: 10px;
          font-weight: bold;
          //@include border-radius(5px);
          //background-color: $primary-color;
          display: inline-block;
          padding: 5px;
          text-align: left;
        }
      }
      &--address {
        text-align: left;
        padding: 0 30px 20px 30px;
        .item {
          background-color: $primary-color;
          display: inline-block;
          font-size: 10px;
          color: #3a3a3a;
          padding: 5px;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          margin-right: 5px;
          cursor: default;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .section-supplier {
    .supplier {
      padding-top: 20px !important;
      &__header {
        padding: 100px 20px;
        text-align: center;
        background-image: url("/images/introduce/members-list-header-mobile.png");
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      &__list {
        padding: 0;
        &--inner {
          padding: 20px;
        }
      }
    }
  }
}